{% extends 'session_client/navs/session-nav.html' %}
{% load i18n django_bootstrap5 %}


{% block search %}
    <form hx-post="{% url 'session_client:sessions_add_set' %}"
            hx-trigger="change"
            hx-target="#session-formset-wrapper">
    {% bootstrap_field form.clients layout='horizontal' field_class='d-inline' %}
    {% bootstrap_field form.dates layout='horizontal' %}
    </form>

    {% bootstrap_form_errors form type='not_fields' %}
{% endblock search %}

{% block content %}

    <div id="session-formset-wrapper"></div>

{% endblock %}