{% extends '_modal.html' %}
{% load django_bootstrap5 %}

{% block modal_title %}
    {% if session %}Session: <small class="fs-5">{{ session.client }} - {{ session.date }}</small>
    {% endif %}
{% endblock modal_title %}

{% block modal_body %}

    <div id="modal-body-wrapper">
        {% partialdef modal-body-partial inline %}

            <div class="card bg-dark mb-5 border border-secondary">
            {% if session %}
                <form data-bs-theme="dark" action="{% url 'session_client:edit_session' session.pk %}" method="post"
                hx-post="{% url 'session_client:edit_session' session.pk %}">
                {% else %}
                <form data-bs-theme="dark" action="{% url 'session_client:add_session' %}" method="post"
                hx-post="{% url 'session_client:add_session' %}">
                {% endif %}
                    {% csrf_token %}
                    <div class="card-body">

                        <!--- Session Title -->
                        <div class="container text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Client:</small>
                                    {% bootstrap_field form.client layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                                <div class="col">
                                    <small>Date:</small>
                                    {% bootstrap_field form.date layout="horizontal" show_label="skip" show_help=False %}
                                    {% bootstrap_field form.start_time layout="horizontal" show_label="skip" show_help=False %}

                                </div>
                            </div>
                        </div>

                        <!--- Session Brief -->
                        <div class="container text-center border-top border-secondary m-1">
                            <small>Session brief:</small>
                            {% bootstrap_field form.brief layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                        </div>

                        <!--- Session Calendar -->
                        <div class="container text-center border-top border-secondary m-1">
                            <small>Session Calendar:</small>
                            {% bootstrap_field form.calendar layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                        </div>

                        <!--- Session Attendance -->

                        <div class="container text-center border-top border-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Attendance:</small>
                                    {% bootstrap_field form.attended layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                                <div class="col">
                                    <small>Status:</small>
                                    <p>{{ form.open.as_field_group }}</p>
                                </div>
                            </div>
                        </div>

                        <!--- Session Payment -->

                        <div class="container text-center border-top border-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Payment:</small>
                                    <p>{{ form.paid.as_field_group }}</p>
                                </div>
                                <div class="col">
                                    <small>Amount:</small>
                                    {% bootstrap_field form.amount_paid layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                            </div>
                        </div>

                        {% bootstrap_button "save" button_type="submit" button_class="btn" extra_classes="float-end btn-outline-secondary m-2" %}
                    </div>
                    {% if session %}
                        <button
                                hx-confirm="Confirm session delete"
                                hx-delete="{% url 'session_client:hx_delete_session' session.pk %}"
                                class="btn btn-outline-danger start-0 m-2">Delete
                        </button>
                    {% endif %}
                </form>
            </div>
        {% endpartialdef %}
    </div>


{% endblock modal_body %}
