{% extends '_base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<p><a href="{%url 'session_client:session_hx_item' session.pk %}"
hx-get="{%url 'session_client:session_hx_item' session.pk %}"
      hx-target="#session-modal-render"
       hx-push-url="/session_client/session_hx_item/{{session.pk}}"
>{{session}}</a></p>
<div id="session-modal-render"></div>
<h2>Edit Entry</h2>


<form action="{%url 'session_client:edit_session' session.pk %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
{% if form.errors %}
    <h5>Errors</h5>
    {% bootstrap_form_errors form %}
    {% endif %}

    {% bootstrap_button button_type='submit' content='Update Answer' %}
</form>

    <button
            hx-confirm="Confirm session delete"
            hx-delete="{% url 'session_client:hx_delete_session' session.pk %}"
            class="btn btn-danger my-4">Delete</button>

{%endblock content%}
