{% extends 'session_client/navs/client-nav.html' %}
{% load django_bootstrap5 %}
{% block background %}bg-dark{% endblock %}

{% block content %}

    {% if client %}
        <div class="display-3">{{ client.code }}<small>{% if client.nick_name %}-{{ client.nick_name }}{% endif %}</small>
   </div>
        {% else %}
        <div class="display-3">Add Client</div>
    {% endif %}


    <div id="modal-body-wrapper">
        {% partialdef modal-body-partial inline %}

            <div class="card bg-dark mb-5 border border-secondary">
                <form data-bs-theme="dark" action="{% url 'session_client:add_client' %}" method="post"
                _="on htmx:afterOnLoad send closeModal to .modal end">
                {% csrf_token %}
                    <div class="card-body">

                        <!--- Client Title -->
                        <div class="container text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Client:</small>
                                    {% bootstrap_field form.code layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                                <div class="col">
                                    <small>Nick name:</small>
                                    {% bootstrap_field form.nick_name layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                            </div>
                        </div>

                        <!--- Client Type  -->
                        <div class="container text-center border-top border-secondary">
                            <small>Type:</small>
                            {% bootstrap_field form.type layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                        </div>

                        <!--- Client Attendance -->

                        <div class="container text-center border-top border-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Attendance:</small>
                                    {% bootstrap_field form.fee layout="horizontal" show_label="skip" show_help=False %}
                                </div>
                                <div class="col mx-auto">
                                    <small>Active:</small>
                                    <div class="row">
                                        <div class="col"></div>
                                    <div class="form-check form-switch col">
                                        {{ form.active }}
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <!--- Client Date defaults -->

                            <div class="container text-center border-top border-secondary">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <small>Day:</small>
                                        {% bootstrap_field form.day layout="horizontal" show_label="skip" show_help=False %}
                                    </div>
                                    <div class="col">
                                        <small>Time:</small>
                                        {% bootstrap_field form.time layout="horizontal" show_label="skip" show_help=False %}
                                    </div>
                                </div>
                            </div>

                            <!--- Client Durations -->

                            <div class="container text-center border-top border-secondary">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <small>Duration:</small>
                                        {% bootstrap_field form.duration layout="horizontal" show_label="skip" show_help=False %}
                                    </div>
                                    <div class="col">
                                        <small>Series:</small>
                                        {% bootstrap_field form.series layout="horizontal" show_label="skip" show_help=False %}
                                    </div>
                                </div>
                            </div>

                            {% bootstrap_button "save" button_type="submit" button_class="btn" extra_classes="float-end btn-outline-secondary" %}
                        {% if client %}
                            <button
                                    hx-confirm="Confirm client archive"
                                    hx-delete="{% url 'session_client:clients_edit' client.pk %}"
                                    class="btn btn-outline-danger start-0">Delete
                            </button>
                        {% endif %}
                        </div>
                </form>
            </div>
        {% endpartialdef %}
    </div>


{% endblock content %}
