{% extends '_modal.html' %}
{% load django_bootstrap5 %}

{% block modal_title %}
    {% if client %}
        {{ client.code }}
    {% else %}
        <div class="display-4">Add Client</div>
    {% endif %}
{% endblock modal_title %}

{% block modal_body %}

    <div id="modal-body-wrapper">
        {% partialdef modal-body-partial inline %}

            <div class="card mb-5 border border-secondary">
                <form
                        {% if client %}
                      action="{% url 'session_client:edit_client' client.pk %}" method="post"
                      hx-post="{% url 'session_client:edit_client' client.pk %}"
                        {% else %}
                            action="{% url 'session_client:add_client' %}" method="post"
                            hx-post="{% url 'session_client:add_client' %}"
                        {% endif %}>

                {% csrf_token %}

                <div class="">

                    <!--- Client Code -->
                    <div class="container text-center my-1 p-1">
                        <div class="row align-items-center">
                            <div class="col">
                                <small>Client:</small>
                                {% bootstrap_field form.code layout="horizontal" show_label="skip" show_help=True size='sm' wrapper_class="mx-auto" %}
                            </div>
                            <div class="col">
                                <small>Link:</small>
                                {% bootstrap_field form.link layout="horizontal" show_label="skip" show_help=True size='sm' wrapper_class="mx-auto" %}
                            </div>
                        </div>
                    </div>

                    <!--- Client Type and tenant -->
                    <div class="container text-center border-top border-secondary my-1 p-1">
                        <div class="row align-items-center">
                            <div class="col">
                        <small>Client Type:</small>
                        {% bootstrap_field form.type layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}

                            </div>

                            <div class="col">
                        <small>Tenant:</small>
                        {% bootstrap_field form.tenant layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}

                            </div>
                        </div>
                    </div>

                    <div class="container text-center border-top border-secondary my-1 p-1">
                        <div class="row align-items-center">
                            <div class="col">
                                <small>Fee:</small>
                                {% bootstrap_field form.fee layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                            </div>
                            <div class="col mx-auto">
                                <small>Active:</small>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="form-check form-switch col">
                                        {{ form.active }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--- Client Date defaults -->

                        <div class="container text-center border-top border-secondary my-1 p-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Day:</small>
                                    {% bootstrap_field form.day layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                                </div>
                                <div class="col">
                                    <small>Time:</small>
                                    {% bootstrap_field form.time layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                                </div>
                            </div>
                        </div>

                        <!--- Client Durations -->

                        <div class="container text-center border-top border-secondary my-1 p-1">
                            <div class="row align-items-center">
                                <div class="col">
                                    <small>Duration:</small>
                                    {% bootstrap_field form.duration layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                                </div>
                                <div class="col">
                                    <small>Series:</small>
                                    {% bootstrap_field form.series layout="horizontal" show_label="skip" show_help=False wrapper_class="mx-auto" %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            {% if client %}
                                <button
                                        class="btn btn-outline-danger start-0"
                                        hx-confirm="Confirm client archive"
                                        hx-patch="{% url 'session_client:client_toggle_active' client.pk %}"
                                        hx-target="#{{ client.code }}"
                                        hx-swap="outerHTML"
                                >Archive
                                </button>
                            {% endif %}
                        </div>
                        <div class="col">
                            <p></p>
                        </div>
                        <div class="col">
                    <button
                            type="submit"
                            class="btn btn-secondary float-end">Save
                    </button>
                        </div>
                    </div>
                </form>

            </div>
        {% endpartialdef %}
    </div>


{% endblock modal_body %}
{% block modal_footer %}
{% endblock %}
