{% extends '_base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<p><a href="{%url 'session_client:session' session.pk %}">{{session}}</a></p>

<h2>Edit Entry</h2>

<form action="{%url 'session_client:edit_session' session.pk %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Update Answer' %}
</form>

    <button
            hx-confirm="Confirm session delete"
            hx-delete="{% url 'session_client:hx_delete_session' session.pk %}"
            class="btn btn-danger my-4">Delete</button>

{%endblock content%}
