{% extends '_modal.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block modal_title %}

    {% translate 'Client Regular Times' %}
{% endblock modal_title %}

{% block modal_body %}

    <div id="modal-body-wrapper">
        {% partialdef modal-body-partial inline %}

            <div class="card mb-5 p-1 border border-secondary">
                <form
                        action="{% url 'session_client:manage_client_times' client.uuid %}" method="post"
                        hx-post="{% url 'session_client:manage_client_times' client.uuid %}"

                {% csrf_token %}

                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="card border-bottom border-secondary p-2">
                        {{ form.id }}

                        <div class="row">
                            <div class="col">
                                {% bootstrap_field form.day show_label='skip' %}
                            </div>

                            <div class="col">
                                {% bootstrap_field form.time show_label='skip' %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {% bootstrap_field form.tenant show_label='skip' size="sm" %}
                            </div>

                            <div class="col">
                                {% bootstrap_field form.DELETE %}
                            </div>
                        </div>

                    </div>
                {% endfor %}

                <button
                        type="submit"
                        class="btn btn-secondary float-end">{% translate 'Save' %}
                </button>
                </form>

            </div>
        {% endpartialdef %}
    </div>


{% endblock modal_body %}
{% block modal_footer %}
{% endblock %}
