{% extends '_modal.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block modal_title %}

    {% translate 'Client Regular Times' %}
{% endblock modal_title %}

{% block modal_body %}

    <div id="modal-body-wrapper">
        {% partialdef modal-body-partial inline %}

            <div class="card mb-5 border border-secondary">
                <form
                        {% if client %}
                      action="{% url 'session_client:edit_client' client.uuid %}" method="post"
                      hx-post="{% url 'session_client:edit_client' client.uuid %}"
                        {% else %}
                            action="{% url 'session_client:add_client_time' %}" method="post"
                            hx-post="{% url 'session_client:add_client_time' %}"
                        {% endif %}>

                {% csrf_token %}

                <div class="">

                    {% bootstrap_formset formset %}

                    <button
                            type="submit"
                            class="btn btn-secondary float-end">{% translate 'Save' %}
                    </button>
                    </div>
                </form>

            </div>
        {% endpartialdef %}
    </div>


{% endblock modal_body %}
{% block modal_footer %}
{% endblock %}
