{% extends 'session_client/navs/session-nav.html' %}

{%block content%}
{% load django_bootstrap5 %}

<div class="card bg-secondary mb-5">
  <div class="card-header m-0 bg-primary">
    <div class="card-title fs-4 text-secondary">
      Full Session
    </div>
  </div>
  <div class="mx-2">
    <a class="card-link" href="{% url 'session_client:add_client' %}">Add a Client First</a>
  </div>

<div class="card-body text-primary">
  <form action="{% url 'session_client:add_session' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Add Session' %}
  </form>
</div>
</div> <!-- end main card -->
{% endblock content %}
