{% extends 'session_client/navs/client-nav.html' %}

{% comment %} This one is not useful any longer, consider replacing for add session from clients  {% endcomment %}

{%block content%}
{% load django_bootstrap5 %}

<div class="card bg-primary-subtle p-2">
<p>Note: Our system avoid asking identifiers of particular people. Please avoid names, as any extra security layer is important.</p>

  <form action="{%url 'session_client:add_client' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Add Client' %}
  </form>




</div> <!-- end main card -->
  {% endblock content %}

