{% extends 'room_calendar_app/navs/rooms-nav.html' %}
{% load django_bootstrap5 i18n %}

{% block content %}

    <!-- search rooms when many  -->
    {% if rooms|length > 2 %}
        <div class="container bg-primary">
            <label for="client-search-input">{% translate 'Filter Rooms' %}</label>
            <input class="form-control" type="text" placeholder="{% translate 'Search' %}" id="client-search-input"
                   _="on input
                                                        tell <a/> in <li/>
                                                            show closest <li/>
                                                            when your textContent.toLowerCase()
                                                            contains my value.toLowerCase()
                                                        end">
        </div>
    {% endif %}

<!-- list of Room Calendars -->
    <ul class="list-group">
        {% for calendar in rooms %}
            <li class="list-group-item my-2">
                <div class="row">
                    <div class="col">
                        <span class="display-5">
                            <a class="link-secondary"
                               href="{% url 'room_calendar_app:edit_room_calendar' calendar.pk %}"
                               hx-get="{% url 'room_calendar_app:edit_room_calendar' calendar.pk %}"
                               hx-target="#modal-wrapper">
                        {{ calendar.name }}</a></span>

                    </div>

                <!-- form to add new tenants to the room -->
                    <div class="col">
                            <form class="" id="tenant-link-form">
                        {% partialdef form-partial inline %}
                                {% bootstrap_field form.tenant_id layout='horizontal' show_label='skip' %}
                            </div>

                            <div class="col">
                            <button
                                    type="button"
                                    class="btn btn-outline-secondary btn-md col-10"
                                    hx-post="{% url 'room_calendar_app:link_tenant' calendar.pk %}"
                                    hx-target="next <tbody/>"

                            >
                                {% translate 'Link' %}
                            </button>
                        {% endpartialdef form-partial %}
                            </form>
                        </div>

                    <div class="row">
                                                {% include 'room_calendar_app/auxiliary/form-tenant-partial.html' %}

                    </div>
                    <div class="row">

                        {% include 'room_calendar_app/auxiliary/tenant_list_info.html' %}
                    </div>

            </li>
        {% empty %}
            <li class="list-group-item">{% translate 'Add a new Room.' %}</li>
        {% endfor %}
    </ul>
{% endblock content %}