{% extends 'room_calendar_app/navs/rooms-nav.html' %}

{% block content %}
    {% if calendar_tenant|length > 3  %}
    <div class="container bg-primary">
        <label for="client-search-input">Filter clients</label>
        <input class="form-control" type="text" placeholder="Search" id="client-search-input"
                                                        _="on input
                                                        tell <a/> in <li/>
                                                            show closest <div>.card/>
                                                            when your textContent.toLowerCase()
                                                            contains my value.toLowerCase()
                                                        end">
    </div>
    {% endif %}




    <ul class="list-group">
        {% for calendar in calendar_tenant %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span class="display-5">{{ calendar.name }}| </span>

                    </div>
                    <div class="col">

                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-group">
                            {% for tenant in  calendar.tenants.all %}
                                <li class="list-group-item">
                                    {% if tenant.user == user %}
                                        <a href="{% url 'room_calendar_app:tenant' tenant.pk %}"
                                           hx-get="{% url 'room_calendar_app:tenant' tenant.pk %}"
                                            hx-target="#modal-wrapper"
                                        >- {{ tenant.name }}
                                        (Me)</a>
                                    {% else %}
                                        <span>- {{ tenant.name }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                <div class="col">
                    Sessions Month</br>
                    <span class="placeholder bg-secondary col-2"></span>
                </div>
                <div class="col">
                    to pay month
                    <span class="placeholder bg-secondary col-2"></span>
                </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">There are no clients yet.</li>
            </ul>
        {% endfor %}

{% endblock content %}