{% extends '_base.html' %}

{% block content %}

<h2 class="text-primary">My Rooms</h2>

<ul>
  <li><a href="{%url 'room_calendar_app:tenant_list'%}">Tenant list</a></li>
  <li><a href="{%url 'room_calendar_app:add_room_calendar'%}">Add new Room</a></li>
</ul>

<ul class="list-group">
  {% for calendar in calendar_mine%}
    <li class="list-group-item">
      <span>{{calendar.name}} | </span>
      <a href="{% url 'room_calendar_app:room_calendar' calendar.pk %}"> manage </a>
      <a href="{% url 'room_calendar_app:edit_room_calendar' calendar.pk %}"> | edit</a>
    </li>
    {% empty %}
    <li class="list-group-item">There are no clients yet. </li>
  </ul>
  {% endfor %}

  {% endblock content %}