{% extends '_modal.html' %}
{% load i18n %}

{% block modal_title %}
    Profile:{{ tenant.name }}<small> <i class="bi bi-pencil-square small"
                                hx-get="{% url 'room_calendar_app:edit_tenant' tenant.pk %}"
                                hx-target="#modalBody"
       _="on htmx:afterOnLoad remove me"
></i></small>
    </i>
{% endblock modal_title %}

{% block modal_body %}
    <div class="card">
        <div class="card-body">
            {% partialdef tenant-partial inline %}
                <p class="card-title display-4">{% translate 'Display' %}: {{ tenant.display_name }}</p>
                <p class="card-text">{% translate 'Description' %}: {{ tenant.description }}</p>
                <p class="card-text">{% translate 'Agreement' %}: {{ tenant.agreement }}</p>
            {% endpartialdef tenant-partial %}
        </div>
    </div>




{% endblock modal_body %}
