{% extends '_modal.html' %}

{% block modal_title %}Session: {{session.title|truncatechars:10|title}}&nbsp;
<a href="{%url 'session_client:edit_session' session.pk %}" class="card-link small" style="font-size:.9rem;">Edit</a></small>{% endblock modal_title%}

{% block modal_body %}

<div class="card bg-secondary mb-5">
  
  <div class="card-body">

    <ul class="list-group">
      <li class="list-group-item text-info">
        <b>Client:</b>
          {{session.client}}
        </li>
      <li class="list-group-item text-info">
        <b>Date:</b>
        {% if session.date %}{{session.date}},{{session.start_time}}{% else %} {{session.created_at|date:'M d,Y'}} {% endif %}
      </li>
      <li class="list-group-item text-info">
        <b>Session Title:</b>
        {{session.brief}}
      </li>
      <li class="list-group-item text-info">
        <b>Attendance:</b></br>
        {{session.get_attended_display}}
      </li>
      <li class="list-group-item text-info">
        {{session.paid|yesno:"Paid,Not Paid"}}       
      </li>
      <li class="list-group-item text-info">
        <b>Amount:</b>
        {{session.amount_paid}}      
      </li>
      </ul>

    </div>
    {% endblock modal_body %}
