.venv
.env
ppm_app/.env
ppm_app/.env.dk
__pycache__/
db.sqlite3
.DS_Store
/between/settings.ini
credentials.json

*.log
*.pot
*.pyc
karate.db
demo/static
/build
MANIFEST
dist
.tox/
/dev
.cache/
.coverage
.pytest_cache
venv
Dockerrun.aws.json
/temp
/docs/_build
.idea/
accounts.json
/src/ppm_app/settings/.env.dk
/src/dreamy_admin/ppm_app/settings/.env
/src/dreamy_admin/ppm_app/settings/.env.dk
/cli.sqlite3
