{% extends '_base.html' %}

{%block content%}

{% load django_bootstrap5 %}
  <h2>{{action}} Calendar</h2>
  <a href={% url 'room_calendar_app:room_calendar_list' %}>Back to Calendar list</a></br>
  <a href={% url 'room_calendar_app:event_list' %}>Event Manager</a>


  <form action="{% url 'room_calendar_app:add_room_calendar' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Add Calendar' %}
  </form>

  {% endblock content %}
