{% extends '_modal.html' %}

{% block modal_title %}
    {% if block_item %}
        <h3>Edit Block:{{ block_item.start_time }}-{{ block_item.end_time }}</h3>
    {% else %}
        <h2>Add a new Block</h2>
    {% endif %}
{% endblock modal_title %}
{% block modal_body %}

    {% load django_bootstrap5 %}

    <div class="card">
        <div class="card-body">

            {% partialdef block-form-partial inline %}
                <form id="block-form"
                        {% if block_item.pk %}
                      action="{% url 'room_calendar_app:block_edit' block_item.pk %}"
                      hx-post="{% url 'room_calendar_app:block_edit' block_item.pk %}"
                      hx-target="#block-form"
                      hx-swap="outerHTML"
                        {% else %}
                      action="{% url 'room_calendar_app:block_add_view' %}"
                      hx-post="{% url 'room_calendar_app:block_add_view' %}"
                      hx-target="#block-form"
                      hx-swap="outerHTML"
                        {% endif %}
                      method='post'>
                    {% csrf_token %}


                    {% bootstrap_field form.tenant size="lg" %}
                    {% bootstrap_field form.day size="lg" %}
                    {% bootstrap_field form.start_time size="sm" %}
                    {% bootstrap_field form.end_time size="sm" %}
                    <button type="submit" class="btn btn-secondary float-end">Submit</button>

                    {% if block_item %}
                        <button type="delete" class="btn btn-primary float-start"
                        hx-post="{% url 'room_calendar_app:delete_block' block_item.pk %}">Delete</button>
                    {% endif %}
                </form>
            {% endpartialdef block-form-partial %}
        </div>
    </div>
{% endblock modal_body %}
