{% extends '../../_base.html' %}

{%block content%}

{% comment %} 
This one is important because I need to create deeper edit
it means a model change to allow independence of calendar. Which means, copy 
the associated event.calendar by default, but be able to change calendar on unique situations
like needing to use a different room every so often. 
This edit view is an easy solution, by giving more granularity when needed. It will mean 
a form with all the options, including changing event and calendar
{% endcomment %}

{% load django_bootstrap5 %}
  <h2>Edit Occurrence</h2>
  <a href={% url 'room_calendar_app:occurrence_list' %}>Occurrence list</a></br>
  <a href={% url 'room_calendar_app:add_event' %}>Add Event</a>



  {% endblock content %}
