{% extends '_base.html' %}

{%block content%}

{% load django_bootstrap5 %}

<div class="card">
  <div class="card-header">Link Tenant to Calendar: {{calendar.name}}</div>
  <div class="card-body">
    <h4 class="card-title">Link a tenant</h4>
    <p>Ask your colleage to generate a code and send it to you to link it here.</p>
    <form action="{% url 'room_calendar_app:link_tenant' calendar.pk %}" method='post'>
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type='submit' content='Add a tenant' %}
    </form>
  </div>
  <div class="card-footer text-muted">
  <a class="card-link" href={% url 'room_calendar_app:room_calendar' calendar.pk %}>Manage Room</a>
  <a class="card-link" href={% url 'room_calendar_app:event_list' %}>Manage Events</a>
</div>
</div>




  {% endblock content %}
