{% extends '_base.html' %}
{% block title %}Edit Account Profile{%endblock title%}


{% block content%}
{% load django_bootstrap5 %}


    <h3 class='bt-3'>Edit account profile</h3>
    
<form action="{%url 'accounts:edit_profile' %}" method='post'>
    {%csrf_token%}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Update' %}
</form>
<div class='row'>
<a href="{% url 'learning_logs:topics' %}" class="card-link col">Back to Topic list</a>
<a href="{% url 'learning_logs:index' %}" class="card-link col">Back to Journaling</a>
</div>
</br></br>
{%endblock content%}