{% load django_bootstrap5 i18n %}

                    <!-- form to change tenant report by month -->
  <div id="form-tenant-wrapper-{{ calendar.pk }}">
  {% partialdef form-tenant-partial inline %}
  <form action="{% url 'room_calendar_app:room_manage_refresh' calendar.pk %}" method="post"
    hx-post="{% url "room_calendar_app:room_manage_refresh" calendar.pk %}"
    hx-target="#tenant-table-tbody-{{ calendar.pk }}"
    hx-trigger="change throttle:1s,load once,RefreshEvent"
    id="form-tenant-date-{{ calendar.pk }}">
    {% csrf_token %}
    <table
    class="table table-sm mb-0"
    id="switch-table"
    >
    <tr class="" id="calendar-form-tr">
        <td id="cell-form-field-date"
          >{% bootstrap_field form_tenant.year show_label='skip' size="sm"  %}
        </td>
        <td id="cell-form-field-date"
          >{% bootstrap_field form_tenant.month show_label='skip' size="sm"  %}
        </td>
    </tr>
  </table>
</form>
      {% endpartialdef %} <!-- end partial table -->
      </div>
