{% load django_bootstrap5 i18n %}

<!-- list of tenants and their sessions  -->
<table class="table" id="tenant-table-room-{{ calendar.uuid }}">
    <thead>
    <tr>
        <th scope="col">{% translate 'Tenant' %}</th>
        <th scope="col">{% translate 'Agreement' %}</th>
        <th scope="col">{% translate 'Sessions' %}</th>
        <th scope="col">{% translate 'Rent' %}</th>
    </tr>
    </thead>

    <tbody id="tenant-table-tbody-{{ calendar.uuid }}">
{% partialdef table-body-partial inline %}
    {% for tenant in  tenants %}
        <tr class="fade-in fade-out">
        {% partialdef tenant-tr-partial inline %}
        <th scope="row">
            {% if tenant.user == user %}
                <a href="{% url 'room_calendar_app:tenant' tenant.uuid %}"
                   hx-get="{% url 'room_calendar_app:tenant' tenant.uuid %}"
                   hx-target="#modal-wrapper"
                   hx-swap="afterBegining"
                >{{ tenant.name }}
                    (Me)</a>
            {% else %}
                <span>- {{ tenant.name }}</span>
            {% endif %}
        <i class="bi bi-x-circle-fill text-danger ms-4"
                hx-post="{% url 'room_calendar_app:unlink_tenant' tenant.uuid %}"
           hx-target="closest <tr/>"
           hx-swap="outerHTML"
           hx-confirm="{% translate 'Un-link tenant'  %}"
        ></i>
        </th>

        <td class="small">
            {{tenant.get_agreement_display}}
        </td>

        <td>
            {{tenant.session_count}}
        </td>

        <td>
            {{tenant.session_pay}}
        </td>
    </tr>
        {% endpartialdef tenant-tr-partial %}

    {% endfor %}
    <tr class="text-info">
        <td class="text-info">
            {% translate 'Total' %}
        </td>
        <td class="text-info">
        </td>
        <td class="text-info">
            {{ totals.total_sessions }}
        </td>
        <td class="text-info">
            {{ totals.total_pay }}
        </td>
    </tr>
{% endpartialdef table-body-partial %}
    </tbody>
</table>