/* styles.css */
#animated-circle {
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      transform-origin: 0% 0%;
      stroke: blue;
    }
    50% {
      transform: rotate(360deg);
      transform-origin: 50% 50%;
      stroke:rgb(255, 127, 214);
    }
    100% {
      transform: rotate(360deg);
      transform-origin: 0% 0%;
      stroke:rgb(127, 255, 138);
    }
  }

  
  /* bottle */

  #svg_bottle {
    animation: bounce 5s linear infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
      fill: blue;
    }
    50% {
      transform: translateX(100px) translateY(-20px) rotate(5deg);
      fill: rgb(34, 255, 0);

    }
    100% {
      transform: translateX(0) translateY(0) rotate(0);
      fill: rgb(255, 0, 200);

    }
  }

  /* bubbles animations */
  #svg_red_bubbles {
    animation: rise_fade 2s linear infinite;
  }

  @keyframes rise_fade {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
      stroke: blue;
    }
    50% {
      transform: translateX(100px) translateY(500px) rotate(2deg);
      stroke: rgb(34, 255, 0);

    }
    100% {
      transform: translateX(0) translateY(80) rotate(0);
      opacity: 0;
      stroke: rgb(255, 0, 200);

    }
  }

  #svg_green_bubbles {
    animation: rise_fade2 2s linear infinite;
  }

  @keyframes rise_fade2 {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
      stroke: blue;
    }
    100% {
      transform: translateX(100px) translateY(500px) rotate(2deg);
      stroke: rgb(34, 255, 0);

    }
  }
