{% extends '_modal.html' %}
{% load django_bootstrap5 i18n%}

{% block modal_title %}
    {% translate 'Add Session' %}
{% endblock modal_title %}

{% block modal_body %}
    <div id="session-form-wrapper">
    {% partialdef session_calendar_form_partial inline %}
        <form
              hx-post="{% url 'session_client:week_view_add_session_client' %}"
              hx-target="#session-form-wrapper"
        >
            {% csrf_token %}

            <div class="row">
                <div class="col">
            {% bootstrap_field form.client %}

                </div>
                <div class="col">

            {% bootstrap_field form.tenant %}
                </div>
            </div>


            <div class="row">
                <div class="col">
                    {% bootstrap_field form.date %}
                </div>
                <div class="col">
                    {% bootstrap_field form.start_time %}
                </div>

            </div>

            <button type="submit"
                    class="btn btn-outline-secondary float-end"
            >{% translate 'Add' %}
            </button>

        </form>
        </div>
    {% endpartialdef %}
{% endblock %}