{% extends '../../_base.html' %}
{% block title%}{{event.title}}{%endblock title%}

{% block page_header %}{{event.title}}{% endblock page_header%}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5>
      <p class="card-text">Type: {{event.room_calendar}}</p>
      <p class="card-text">Main goal of the process: {{event.client}} </P>
      <p class="card-text">Original Motive: {{event.description}} </p>
      <a href="{% url 'room_calendar_app:event_list' %}" class="card-link">Back to events</a>
      <p><a href="{%url 'room_calendar_app:edit_event' event.pk %}">
        Edit event</a></p>
    </div>
  </div>




{%endblock content%}
