{% extends '../../_base.html' %}

{% block content %}

<h2>My Events</h2>

<ul>
  <li><a href="{%url 'room_calendar_app:add_event'%}">Add new event</a></li>
  <li><a href="{%url 'room_calendar_app:calendar_index'%}">back to calendar home</a></li>
</ul>

<div class="card">
<ul>
  {% for event in events%}
    <li>
      <a href="{% url 'room_calendar_app:event' event.pk %}"> {{event.get_event_type_display}}| {{event.title}}</a>
    </li>
    {% empty %}
    <li>There are no events yet. </li>
  </ul>
  {% endfor %}

</div>

  {% endblock content %}