{% extends '../../_base.html' %}

{% block content %}

<h2>My Occurrences</h2>

<ul>
  <li><a href="{%url 'room_calendar_app:add_event'%}">Add new occurrence</a></li>
  <li><a href="{%url 'room_calendar_app:calendar_index'%}">back to calendar home</a></li>
</ul>

<ul>
  {% for occurrence in occurrences%}
    <li>
      <a href="{% url 'room_calendar_app:occurrence' occurrence.pk %}"> {{occurrence.room_calendar}}| {{occurrence.title}}</a>
    </li>
    {% empty %}
    <li>There are no occurrences yet. </li>
  </ul>
  {% endfor %}

  {% endblock content %}