{% load django_bootstrap5 %}
<h2>
Add multiple for <span class="fw-bolder">"{{client.code}}"</span>
</h2>

<form
    hx-post="{% url 'session_client:sessions_add_set_hx' client.uuid date %}">
 {% csrf_token %}

 {{ formset.management_form }}

 {% for form_s in formset %}
  <div class="container border border-1 my-2">
    {{ form_s.id }}
      <div class="row">
        {% bootstrap_field form_s.date wrapper_class='col' size='sm' show_label='skip' show_help=False %}
        {% bootstrap_field form_s.start_time wrapper_class='col' size='sm' show_label='skip' show_help=False %}
        {% bootstrap_field form_s.paid wrapper_class='col' size='sm' show_help=False %}
        {% bootstrap_field form_s.attendance wrapper_class='col' size='sm' show_label='skip' show_help=False %}
        {% bootstrap_field form_s.open wrapper_class='col' size='sm' show_help=False %}
        {% if form_s.instance.pk %}
          {% bootstrap_field form_s.DELETE %}
          {% endif %}
      </div>
 </div>

 {% endfor %}

<button type="submit" class="btn btn-outline-secondary">submit</button>
</form>