{% extends '_base.html' %}

{% block local_nav %}
<!-- Sessions Nav -->
<nav
  class="nav mt-0 nav-tabs bg-secondary-subtle"
>
  <h4 class="text-primary m-2">Sessions</h4>

  <a class="nav-link {% if request.path == "/session_list/"  %}active {% endif %}" 
      href="{% url "session_client:session_list" %}" aria-current="page"
    >Open</a
  >
  <a class="nav-link {% if request.path == "/session_search/"  %}active {% endif %}" 
      href="{% url "session_client:session_search" %}"
      >Search</a>

  <a class="nav-link {% if request.path == "/add_session/"  %}true{% else %}false{% endif %}" 
      href="{% url "session_client:add_session" %}">Add</a>
</nav>

  
  {% endblock local_nav %}

  <div id="content_wrap">
    {% block content %}

    {% endblock content %}
  </div>

