{% extends 'session_client/navs/client-nav.html' %}

{% load django_bootstrap5 %}

{% block content %}
<div class="card">
<div id="client-list-wrapper">
  {% partialdef client-list-partial inline %}
<ul class="list-group" id="client-list-ul">
  {% for client in clients%}
    <li class="list-group-item list-group-item-danger fade-out" id="{{client.code}}">
      <a href="{%url 'session_client:client' client.pk %}">{{client.code}}</a> - {{client.nick_name}} | archived: {{client.archived_at|date:'M d,Y'}}
        <i class="bi bi-skip-backward-circle-fill text-success" 
          hx-put={% url 'session_client:clients_edit' client.pk %}
          hx-trigger="click"
          hx-target="closest li"
          hx-swap="outerHTML"
          ></i>
    </li>
    {% empty %}
    <li>There are no clients yet. </li>
    
    {% endfor %}
  </ul>
  {% endpartialdef %}
</div>
</div>
  {% endblock content %}
