{% extends 'session_client/navs/client-nav.html' %}
{% load i18n %}

{% load django_bootstrap5 %}

{% block content %}
<div class="card">
<div id="client-list-wrapper">
  {% partialdef client-list-partial inline %}
<ul class="list-group" id="client-list-ul">
  {% for client in clients%}
    <li class="list-group-item list-group-item-danger fade-out" id="{{client.code}}">
      <a href="{%url 'session_client:client_hx_item' client.pk %}">{{client.code}}</a>  | archived: {{client.archived_at|date:'M d,Y'}}
        <i class="bi bi-skip-backward-circle-fill text-success" 
          hx-patch={% url 'session_client:client_toggle_active' client.pk %}
          hx-trigger="click"
          hx-target="closest li"
          hx-swap="outerHTML"
          ></i>
    </li>
    {% empty %}
    <li>There are no clients yet. </li>
    
    {% endfor %}
  </ul>
  {% endpartialdef %}
</div>
</div>
  {% endblock content %}
