{% extends 'session_client/utils/client-nav.html' %}

{% load partials %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card">

<!-- Add Client -->

<div class"card bg-primary-subtle">
<div class="" id="client-form-wrap">
{% partialdef client-form-partial inline %} <!-- Start form partial -->
  
    <form class="form bg-primary-subtle ps-3 mb-0"
    >
    <table class="table mb-0" id="client-form-table">
      <tbody class="mb-0">
      <tr>
        <td class="col bg-primary-subtle" id="form-td-code">
          {% bootstrap_field form.code wrapper_class="col" show_label="skip" layout="horizontal" label_class="text-primary" %}
        </td>
        <td class="col bg-primary-subtle" id="form-td-type">
          {% bootstrap_field form.day wrapper_class="col" show_label="skip" layout="horizontal" label_class="text-primary" %}
        </td>
        <td class="col bg-primary-subtle" id="form-td-type">
          {% bootstrap_field form.time wrapper_class="col" show_label="skip" layout="horizontal" label_class="text-primary" %}
        </td>
        <td class="col bg-primary-subtle" id="form-td-fee">
          {% bootstrap_field form.duration wrapper_class="col" show_label="skip" layout="horizontal" label_class="text-primary" %}
        </td>
        <td class="bg-primary-subtle">
            <button class="btn btn-primary col-12"
            type="submit"
            hx-post={% url 'session_client:client_list' %}
            hx-target="#client-list-ul"
            hx-swap="afterbegin settle:0.2s"
            hx-trigger="keyup[key=='Enter'],click"
            _="init call preventDefault on me"
            >
            New</button>
        </td>
      </tr>
    </tbody>
    </table>
</form>
</div>
  {% if messages %}{% include '_toasts.html' %}{% endif %}
{% endpartialdef client-form-partial %} <!-- end form partial -->
  </div>

<div id="client-list-wrapper">
  {% partialdef client-list-partial inline %}
<ul class="list-group" id="client-list-ul">
  {% for client in clients%}

  {% partialdef client-li-partial inline %}
    <li class="list-group-item list-group-item-primary fade-out fade-in" id="{{client.code}}"
    {% if loading %}hx-get={% url 'session_client:hx_client_short_form'%} hx-swap="#client-form-wrap" hx-trigger="load once"{% endif %}>
      <a href="{%url 'session_client:edit_client' client.pk %}">{{client.code}}</a> {% if client.nick_name %}<span>{{client.nick_name|title}}</span>{% endif %}
      &nbsp;<i class="bi bi-eye-fill text-primary"
          hx-get={% url 'session_client:client_hx_item' client.pk %}
          hx-trigger="click"
          hx-target="#modal-wrap"
      ></i> &nbsp;
      
      <i class="bi bi-archive-fill text-warning" 
          hx-put={% url 'session_client:clients_edit' client.pk %}
          hx-trigger="click"
          hx-target="closest li"
          hx-swap="outerHTML"
          ></i>
    </li>
    {% endpartialdef client-li-partial %}
    {% empty %}
    <li>There are no clients yet. </li>
    
    {% endfor %}
  </ul>
  {% endpartialdef client-list-partial %}
</div>
</div>

<div id="modal-wrap"></div>

  {% endblock content %}
