

{% extends 'session_client/navs/session-nav.html' %}
{% load django_bootstrap5 %}

{% block search_nav %}



<div id="wrapper">

  <div id="form-table-wrapper">
  {% partialdef form-partial inline %}
  <form action={% url 'session_client:session_search' %} method="post"
    hx-post={% url "session_client:session_search" %}
    hx-target="#session-list-wrapper"
    hx-trigger="change throttle:1s,load once"
    >
    {% csrf_token %}
    <table
    class="table table-primary table-sm mb-0"
    id="switch-table"
    >
    <tr class="" id="calendar-form-tr">
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_start show_label='skip'  %}
        </td>
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_end show_label='skip'  %}
        </td>
        <td id="cell-form-field-calendar"
          >{% bootstrap_field form.client show_label='skip'  %}
        </td>
        <td id="cell-form-button">
          <div class="dropdown">
            <button class="btn link btn-secondary" type="submit" value="submit" >
              <i class="bi bi-cloud-download text-primary fs-5"></i>
            </button>
        </div>
      </td>
    </tr>
  </table>
</form>
      {% endpartialdef %} <!-- end partial table -->
      </div>

  {% endblock search_nav %}
