{% extends '_modal.html' %}

{% block modal_title %}
<div class="fs-3">Client Sessions <a class="link-secondary ms-2" style="font-size:1rem;"
{% if forward %}
                                     href="{% url 'session_client:session_list_with_client_and_forward' client_pk "add_forward" %}"
{% else %}
                                     href="{% url 'session_client:session_list_with_client' client_pk %}"
{% endif %}
><i class="bi bi-arrows-angle-expand"></i></a></div>
{% endblock %}

{% block modal_body %}
    <ul>
{% for session in sessions %}

    <li>
    {{ session.date }} - {{ session.time }} - {{ session.brief|truncatechars:10 }}
    <a href="{% url 'session_client:session_hx_item' session.pk %}"
    hx-target="#modal-wrapper"
    hx-get="{% url 'session_client:session_hx_item' session.pk %}"
   ><i class="bi bi-eye-fill"></i></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}