{% extends 'session_client/navs/session-nav.html' %}
{% load i18n %}


{% load django_bootstrap5 %}

{% block search %}



<div id="wrapper">

  <div id="form-table-wrapper">
  {% partialdef form-partial inline %}
  <form
    hx-post="{% url "session_client:session_search" %}"
            hx-target="#tableBody"
    hx-trigger="change throttle:1s,load once,RefreshTable"
              id="session-list-form"
    >
    <table
    class="table table-primary table-sm mb-0"
    id="switch-table">
    <tr class="" id="session-list-form">
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_start show_label='skip' size='sm'  %}
        </td>
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_end show_label='skip' size='sm'  %}
        </td>
        <td id="cell-form-field-calendar"
          >{% bootstrap_field form.client show_label='skip' size='sm'  %}
        </td>
        <td id="cell-form-button">
          <div class="dropdown">
            <button class="btn btn-sm link btn-secondary" type="submit" value="submit" >
              <i class="bi bi-cloud-download text-primary fs-6"></i>
            </button>
        </div>
      </td>
    </tr>
  </table>
</form>
      {% endpartialdef %} <!-- end partial table -->
      </div>

  {% endblock search %}

