

{% extends 'session_client/utils/session-nav.html' %}
{% load django_bootstrap5 %}

{% block content %}


<!-- Session nav for session_list: open, session_search: explore, and add session: add -->





<!-- Add Session -->
<div class="" id="session-form-wrap">

  {% partialdef session-form-partial inline %} <!-- Start form partial -->

  <div class="card bg-primary m-2 p-2 rounded">

    <form class="form bg-primary ps-3">
    <table class="table mb-0" id="client-form-table">
      <tbody>
      <tr>
        <td class="col bg-primary" id="form-td-code">
          {% bootstrap_field form.only_unpaid wrapper_class="col py-1" layout="horizontal" label_class="text-secondary" %}
        </td>
          <td class="col bg-primary" id="form-td-code">
          {% bootstrap_field form.include_next wrapper_class="col py-1" layout="horizontal" label_class="text-secondary" %}
        </td>
        <td class="col bg-primary" id="form-td-type">
          {% bootstrap_field form.client wrapper_class="col py-0" layout="horizontal" label_class="text-secondary" %}
        </td>
        <td class="bg-primary">
            <button class="btn btn-secondary col-12"
            type="submit"
            hx-post={% url 'session_client:session_list' %}
            hx-target="#session-list-wrapper"
            hx-swap="innerHTML settle:0.2s"
            hx-trigger="keyup=='Enter',click"
            hx-exclude="#switchArchived"
            id="formButton"
            _="call preventDefault() on me"
            >
            <i class="bi bi-search"></i></button>
        </td>
      </tr>
    </tbody>
    </table>
</form>
  </div>
  {% if messages %}{% include '_toasts.html' %}{% endif %}
  {% endpartialdef session-form-partial%} <!-- end form partial -->
  </div>
</div>
</div>


<div id="session-list-wrapper">
  {% partialdef session-list-partial inline %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date
        </th>
        <th scope="col">Time
        </th>
        <th scope="col">Title
        </th>
        <th scope="col">Client
        </th>
        <th scope="col">Paid
        </th>
        <th scope="col">Open
        </th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% for session in sessions%}
      {% partialdef row-instance inline %}
      <tr class="fade-in">
        <th scope="row">
          <a href="{%url "session_client:edit_session" session.pk %}">
            {% if session.date %}{{session.date}}{% else %}{{session.created_at|date:'d, M,Y'}}{% endif %}</a>
            &nbsp;<i class="bi bi-eye-fill text-secondary"
              hx-get={% url 'session_client:session_hx_item' session.pk %}
              hx-trigger="click"
              hx-target="#modal-wrap"
              ></i>
          </th>

      <td>{{session.start_time}}</td>
      <td>{{session.client}}</td>
      <td>{{session.brief|truncatechars:10}}</td>

        <!-- paid/not paid partial -->
        {% partialdef session_paid inline %}
       <td hx-put={% url "session_client:sessions_hx_edit_paid" session.pk %}>

          {%if session.paid %}
          <i           
          data-bs-toggle="tooltip" data-bs-title="Paid"
          class="bi bi-currency-exchange text-success" ></i>
          {% else %}
          <i           
          data-bs-toggle="tooltip" data-bs-title="Not Paid"
          class="bi bi-currency-exchange text-danger" ></i>
          {% endif %}
        </td>
          {% endpartialdef session_paid %}
        
          <!-- Session open/closed partial -->
        {% partialdef session_open inline %}
       <td hx-put={% url "session_client:sessions_hx_edit_open" session.pk %}>
        {%if session.open %}
          <i           
          data-bs-toggle="tooltip" data-bs-title="Open"
          class="bi bi-circle-fill text-warning"></i>
          {% else %}
          <i           
          data-bs-toggle="tooltip" data-bs-title="Done"
          class="bi bi-check-circle-fill text-success"></i>
          {% endif %}
        </td>
        {% if messages %}{% include '_toasts.html' %}{% endif %}{% comment %}trying to set a toast system for messages{% endcomment %}

          {% endpartialdef session_open %}
      </div>
      </tr>
      {% endpartialdef %}

  </tbody>
  {% endfor %}
</table>
{% endpartialdef session-list-partial  %}
</div>
<div id="modal-wrap"></div>
  {% endblock content %}
