

{% extends 'session_client/utils/session-nav.html' %}
{% load django_bootstrap5 %}
{% block content %}



<div id="wrapper">

  <div id="form-table-wrapper">
  {% partialdef form-partial inline %}
  <form action={% url 'session_client:session_search' %} method="post"
    hx-post={% url "session_client:session_search" %}
    hx-target="#session-list-wrapper"
    hx-trigger="change throttle:1s,load once"
    >
    {% csrf_token %}
    <table
    class="table table-primary table-sm mb-0"
    id="switch-table"
    >
    <tr class="" id="calendar-form-tr">
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_start show_label='skip'  %}
        </td>
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_ref_end show_label='skip'  %}
        </td>
        <td id="cell-form-field-calendar"
          >{% bootstrap_field form.client show_label='skip'  %}
        </td>
        <td id="cell-form-button">
          <div class="dropdown">
            <button class="btn link btn-secondary" type="submit" value="submit" >
              <i class="bi bi-cloud-download text-primary fs-5"></i>
            </button>
        </div>
      </td>
    </tr>
  </table>
</form>
      {% endpartialdef %} <!-- end partial table -->
      </div>


<div id="session-list-wrapper">
  {% partialdef session-list-partial inline %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date
        </th>
        <th scope="col">Time
        </th>
        <th scope="col">Title
        </th>
        <th scope="col">Client
        </th>
        <th scope="col">Paid
        </th>
        <th scope="col">Open
        </th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% for session in sessions%}
      {% partialdef row-instance inline %}
      <tr class="fade-in">
        <th scope="row">
          <a href="{%url "session_client:edit_session" session.pk %}">
            {% if session.date %}{{session.date}}{% else %}{{session.created_at|date:'d, M,Y'}}{% endif %}</a>
            &nbsp;<i class="bi bi-eye-fill text-secondary"
              hx-get={% url 'session_client:session_hx_item' session.pk %}
              hx-trigger="click"
              hx-target="#modal-wrap"
              ></i>
          </th>

      <td>{{session.start_time}}</td>
      <td>{{session.client}}</td>
      <td>{{session.brief|truncatechars:10}}</td>

        <!-- paid/not paid partial -->
        {% partialdef session_paid inline %}
       <td hx-put={% url "session_client:sessions_hx_edit_paid" session.pk %}>

          {%if session.paid %}
          <i
          data-bs-toggle="tooltip" data-bs-title="Paid"
          class="bi bi-currency-exchange text-success" ></i>
          {% else %}
          <i
          data-bs-toggle="tooltip" data-bs-title="Not Paid"
          class="bi bi-currency-exchange text-danger" ></i>
          {% endif %}
        </td>
          {% endpartialdef session_paid %}

          <!-- Session open/closed partial -->
        {% partialdef session_open inline %}
       <td hx-put={% url "session_client:sessions_hx_edit_open" session.pk %}>
        {%if session.open %}
          <i
          data-bs-toggle="tooltip" data-bs-title="Open"
          class="bi bi-circle-fill text-warning"></i>
          {% else %}
          <i
          data-bs-toggle="tooltip" data-bs-title="Done"
          class="bi bi-check-circle-fill text-success"></i>
          {% endif %}
        </td>
        {% if messages %}{% include '_toasts.html' %}{% endif %}{% comment %}trying to set a toast system for messages{% endcomment %}

          {% endpartialdef session_open %}
      </div>
      </tr>
      {% endpartialdef %}

  </tbody>
  {% endfor %}
</table>
{% endpartialdef session-list-partial  %}
</div>
<div id="modal-wrap"></div>
  {% endblock content %}
