<!-- I added a bootsstrap version of the form and need to do it unicorn based-->
<!--TODO connect inputs to model, add validation, customise the options of the datetime widget-->
    

    <!-- Form -->
    <form action="{%url 'room_calendar_app:add_occurrence' %}" method="post">
        <p class="text-danger">{{ form.non_field_errors }}</p>
        {%csrf_token%}

        <div class="mb-1 input-group">
            
            <label class="input-group-text">Start</label>
            
            <!-- start date widget -->
            <input id="id_start_date" type="date"
                class="form-control"
                required="True">
            
            <!-- Start time widget -->
            <select type="select" 
                class="form-select" 
                required="True" id="id_start_time">
                {% for slot in time_slot_options %}
                <option value="{{slot|time:'H:i'}}">{{slot|time}}</option>
                {% endfor %}
                </select>                
            </div>
            <p>{{form.start_date.errors}}</p>
            <p>{{form.start_time.errors}}</p>


            <!--duration widget -->
    <div class="row g-1" id="wrapper">
            <div class="mb-3 input-group col">
                <label class="input-group-text" for="id_duration">Duration</label>
            
            <select name="duration" 
                    class="form-select"                  
                    required="" id="id_duration">
                    {% for time in duration_times %}
                    <option value="{{time}}">{{time}}</option>
                    {% endfor %}
    
            </select>
            <p class="text-danger">{{form.duration.errors}}</p>

        </div>
    
    <!-- Event Widget -->
    <div class="mb-3 input-group col">
        <label class="input-group-text" 
        for="id_event">Event</label>
        <select name="event" 
                class="form-select" 
                required="" id="id_event">
            <option value="" selected="">---------</option>
            
            {% for event in events %}
            <option value="{{event.pk}}">{{event.title}}</option>
            {% empty %}
            <option value="">Add event first</option>
            {% endfor %}

            </select>
            <p class="text-danger">{{form.event.errors}}</p>
            
        </div>
    </div>
    <!-- Submit button -->
        <button type='submit' value="Submit" class="btn btn-primary">Add occurrence</button>
</form>

    <!-- Show Created Occurrences -->
    <div class="card mt-3" id="ShowNewOccurrences">
        <ul>
            {% for occurrence in user_occurrences %}
                <li>{{occurrence.title}}-{{occurrence.start_time}}-{{occurrence.duration}}</li>
                {% empty %}
                <li>No events</li>
            {% endfor %}
            </ul>
        </div>
    

</div>

