{% extends '_base.html' %}
{% load i18n %}
{% block local_nav %}
<!-- Sessions Nav -->
<nav
  class="nav mt-0 nav-tabs bg-secondary"
>
  <h4 class="text-primary m-2">{% translate 'Clients' %}</h4>

  <a class="nav-link {% if request.path == "/client_list/"  %}active {% endif %}"
      href="{% url "session_client:client_list" %}" aria-current="page"
    >{% translate 'Current' %}</a
  >
  <a class="nav-link {% if request.path == "/client_search/"  %}active {% endif %}" 
      href="{% url "session_client:client_search" %}"
      >{% translate 'Search' %}</a>

  <a class="nav-link {% if request.path == "/client_review/"  %}active {% endif %}"
      href="{% url "session_client:client_review" %}"
      >{% translate 'Review' %}</a>

    <a class="nav-link {% if request.path == "/client_archived/"  %}active {% endif %}" 
      href={% url 'session_client:client_archived' %}
      >{% translate 'Archived' %}</a>

  <a class="nav-link {% if request.path == "/add_client/"  %}active{% endif %}" 
    href="{% url "session_client:add_client" %}"
        hx-get="{% url "session_client:add_client" %}"
       hx-target="#modal-wrapper"
  ><i class="bi bi-plus-circle"></i></a>

</nav>

  
  {% endblock local_nav %}

  <div id="content_wrap">
    {% block content %}

    {% endblock content %}
  </div>

