{% extends '_base.html' %}
{% load i18n %}
{% block local_nav %}
    <!-- Sessions Nav -->
    <nav
            class="nav mt-0 nav-tabs bg-secondary"
    >
        <h4 class="text-primary m-2">{% translate 'Sessions' %}</h4>

        <a class="nav-link px-3 px-md-4 {% if request.path == "/session_list/" %}active {% endif %}"
           href="{% url "session_client:session_list" %}" aria-current="page"
        ><i class="bi bi-folder2-open"></i> <span class="d-none d-md-inline">{% translate 'Open' %}</span></a>
        <a class="nav-link px-3 px-md-4 {% if request.path == "/session_search/" %}active {% endif %}"
           href="{% url "session_client:session_search" %}"
        ><i class="bi bi-calendar-date"></i> <span class="d-none d-md-inline">{% translate 'Search' %}</span></a>

        <a class="nav-link px-3 px-md-4 {% if request.path == "/session-add-set/" %}active{% endif %}"
           href="{% url "session_client:sessions_add_set" %}"
           ><i class="bi bi-plus-circle"></i></a>

    </nav>


{% endblock local_nav %}

    {% block content %}
        <div class="table-responsive">

        {% include 'session_client/hx/_session_list.html' %}
        </div>
    {% endblock content %}