{% extends "allauth/layouts/manage.html" %}
{% load django_bootstrap5%}
{% load allauth %}
{% block content %}

<h1>Manage accounts</h1>

    <div class="card">
    <div class="card-header">
    <h3>Please support the project</h3>
    </div>
    <div class="card-body">
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="CreaTherapy" data-color="#BD5FFF" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        <p>I am an individual therapist trying to make tools for therapy. </p>
        <p>There are not companies behind, nor interests beyond creating a good app for us.</p>

    </div>
    </div>



    <div class="card mb-5">
        <div class="card-body">
            <h4 class="card-title">Privacy</h4>
            <p class="card-text">Our privacy policy is that data belongs to you.</p>
            <ul>
                <li>We use only essential Cookies.</li>
                <li>We do not keep data after you leave.</li>
                <li>Gabriel is the only data controller and keeps data confidential.</li>
                <li>Data is stored in Europe.</li>
                <li>When you delete your account, your associated data is also erased from the database.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-5">
    <div class="card-header">
        <h4 class="card-title">Delete account</h4>
    </div>
    <div class="card-body">
                    <a
                name=""
                id=""
                class="btn btn-warning"
                href="{% url 'accounts:delete_account' %}"
                role="button"
                >Delete Account</a
            >

    </div>
    </div>

{% endblock content %}


