<div>
<h1>hello</h1>

  <ul>
  {% for occurrence in occurrences %}
    
  <li>{{occurrence}}</li>
{% endfor %}

  </ul>

  <ul>
  {% for calendar in calendars %}
    
  <li>{{calendar}}</li>
{% endfor %}

  </ul>

  <p>{{event}}</p>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for slot,data in week_dict.items %}
          <th scope="row">{{slot}}</th>

          {% for weekday,occurrences in data.items %}
          <td>{{weekday}}-
            {% for occurrence in occurrences %}
            {{occurrence.event.user}}
            {% empty %}
            <p>no events</p>
          </td>
            {% endfor%}

            
            {% endfor %}
          </tr>

          {% endfor %}

      </tbody>
    </table>

{{week_dict}}





</div>
