<!-- I added a bootsstrap version of the form and need to do it unicorn based-->
<!--TODO connect inputs to model, add validation, customise the options of the datetime widget-->
{% load unicorn %}
<div class="container">
    <div
        class="alert alert-warning"
        role="alert"
    >
        <p>{% unicorn_errors %}
        </p>
    </div>
    
    <div class="card">
    <ul>
        {% for occurrence in user_occurrences %}
            <li>{{occurrence.title}}-{{occurrence.start_time}}-{{occurrence.duration}}</li>
            {% empty %}
            <li>No events</li>
        {% endfor %}
        </ul>
    </div>
    <form unicorn:submit.prevent="save_occurrence">
        <input type="hidden" name="csrfmiddlewaretoken" value="VCW3fhuvkuWTTbI016cCk4ZTI3ExIy7vyj0KVH1GKmZkliGwmhXDlvmFRJsXNg4R">
        <div class="mb-3 input-group">
            <label class="input-group-text">Start</label>
            
            <!-- start date widget -->
            <input unicorn:model.lazy="start_date" id="id_start_date" type="date" 
                class="form-control" 
                placeholder="Date of the event" 
                required="True">
            
            <!-- Start time widget -->
            <select unicorn:model.lazy="start_time" type="select" 
                class="form-select" 
                required="" id="id_start_time">
                {% for slot in time_slot_options %}
                <option value="{{slot}}">{{slot}}</option>
                {% endfor %}
        </select>
        
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="id_duration">Duration</label>
            
            <select unicorn:model.lazy="duration" name="duration" class="form-select" required="" id="id_duration">
                    {% for time in duration_times %}
                    <option value="{{time}}">{{time}}</option>
                    {% endfor %}
    
        </select>
    </div>
    
    <!-- Event Widget -->
    <div class="mb-3 input-group">
        <label class="input-group-text" 
        for="id_event">Event</label>
        <select unicorn:model.lazy="event" name="event" class="form-select" required="" id="id_event">
            <option value="" selected="">---------</option>
            
            {% for event in event_select %}
            <option value="{{event.pk}}">{{event.title}}</option>
            {% empty %}
            <option value="">Add event first</option>
            {% endfor %}

    </select>
</div>
</form>

<button unicorn:click="save_occurrence()"  class="btn btn-primary">Add occurrence</button>

</div>

