<!-- I added a bootsstrap version of the form and need to do it unicorn based-->
<!--TODO connect inputs to model, add validation, customise the options of the datetime widget-->
<div>
    <form>
        <input type="hidden" name="csrfmiddlewaretoken" value="VCW3fhuvkuWTTbI016cCk4ZTI3ExIy7vyj0KVH1GKmZkliGwmhXDlvmFRJsXNg4R">
        <div class="mb-3">
            <label class="form-label">Time to start</label>
            
            <input unicorn:model="start_date" id="id_start_date" type="date" class="form-control" 
                placeholder="Date of the event" 
                required="True">
            
            <select unicorn:model="start_time" type="select" 
                class="form-select" 
                required="" id="id_start_time">
                {% for slot, name in time_slot_options%}
                <option value="{{slot}}">{{name}}</option>
                {% endfor %}
        </select>
        
            </div>
            <div class="mb-3">
                <label class="form-label" for="id_duration">how long</label>
            
            <select unicorn:model="duration" name="duration" class="form-select" required="" id="id_duration">
                    <option value="" selected="">---------</option>
                    
                    <option value="0:30:00">30 min</option>
                    
                    <option value="1:00:00">1 hour</option>
                    
                    <option value="1:30:00">1.5 hours</option>
                    
                    <option value="2:00:00">2 hours</option>
    
    </select></div>
    
    
    <div class="mb-3"><label class="form-label" 
        for="id_event">Attach an event (ie a client)</label>
        
        
        <select unicorn:model="event" name="event" class="form-select" required="" id="id_event">
            <option value="" selected="">---------</option>
            
            {% for event in event_select %}
            <option value="{{event.pk}}">{{event.title}}</option>
            
            {% endfor %}

    </select></div>
        <button unicorn:click="save_occurrence()"  class="btn btn-primary">Add occurrence</button>
      </form></div>

