{% extends '../_base.html' %}

{% block content %}
{% csrf_token %}


<h2>My Events</h2>

<ul>
  <li><a href="{%url 'room_calendar_app:add_event'%}">Add new Event</a></li>
  <li><a href="{%url 'room_calendar_app:add_occurrence'%}">Add new Occurrence</a></li>
  <li><a href="{%url 'room_calendar_app:add_occurrence_multiple'%}">Add Multiple Occurrences</a></li>
  <li><a href="{%url 'room_calendar_app:event_list'%}">Event list</a></li>
  <li><a href="{%url 'room_calendar_app:occurrence_list'%}">Occurrence list</a></li>
  <li><a href="{%url 'room_calendar_app:add_occurrence'%}">Add Occurrence</a></li>
</ul>

<ul>
  <li><a href="{%url 'room_calendar_app:add_room_calendar'%}">Add new Room Calendar</a></li>
  <li><a href="{%url 'room_calendar_app:room_calendar_list'%}">Room Calendar list</a></li>
</ul>

<ul>
  <li><a href="{%url 'room_calendar_app:tenant_list'%}">Tenant list</a></li>
  <li><a href="{%url 'room_calendar_app:week_view'%}">week view</a></li>
</ul>

  {% endblock content %}
