{% extends '_base.html' %}
{% load i18n %}

{% block local_nav %}
<!-- Sessions Nav -->
<nav
  class="nav mt-0 nav-tabs bg-secondary"
>
  <h4 class="text-primary m-2">{% translate 'Calendar' %}</h4>

  <a class="nav-link {% if request.path == "/calendar/week-view/"  %}active {% endif %}"
      href="{% url "room_calendar_app:week_view" %}" aria-current="page"
    >{% translate 'Week' %}</a
  >
  <a class="nav-link {% if request.path == "/calendar/week-blocks-view/" %}active {% endif %}"
      href="{% url "room_calendar_app:week_blocks_view" %}"
      >{% translate 'Blocks' %}</a>

    <a class="nav-link {% if request.path == "/calendar/week-schedule-view/" %}active {% endif %}"
      href="{% url 'room_calendar_app:week_schedule_view' %}"
      >{% translate 'Clients' %}</a>


</nav>

  
  {% endblock local_nav %}

  <div id="content_wrap">
    {% block content %}

    {% endblock content %}
  </div>

