<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}PrivatePractice{%endblock title%}</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load django_htmx %}
    {% load partials %}

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

    <!-- dj htmx setup -->
    <meta name="htmx-config" content='{"historyCacheSize": 15}'>
    {% htmx_script %}
    <script src="https://unpkg.com/htmx-ext-event-header@2.0.0/event-header.js" defer ></script>
    <script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js" defer ></script>


    <!-- Hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.14" defer></script>
</head>

<body class='bg-light' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
hx-ext="debug, event-header">

  <nav class="navbar navbar-expand-lg bg-primary sticky-top start-0 py-2 mb-0" data-bs-theme="dark">
    <div class='container-fluid'>
      <span class="position-relative p-2" style="min-width:12rem;">
      <a class='navbar-brand position-relative' href="{% url 'session_client:index' %}">
        <span class="position-absolute bottom-50 start-50">Private Practice</span><small class="text-secondary position-absolute top-0 start-100 p-2">
        management</small>
      </a></span>
        
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
        data-bs-target='#navbarCollapse' aria-controls='navbarCollapse'
        aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='navbar-nav me-auto mb2 mb-md-0'> <!-- 'me' refers to left, and 'ms' to right -->
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'session_client:client_list' %}">
                        My Clients</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'session_client:session_list' %}">
                        My Sessions</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'room_calendar_app:event_list' %}">
                        My Events</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'room_calendar_app:room_calendar_list' %}">
                        My Rooms</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'room_calendar_app:week_view' %}">
                        My Calendar</a></li>
                {% if debug %}
                        <li class='nav-item'><p class="text-dark">
                      {% htmx_script %}</p></li>
                        {% endif %}
            </ul><!-- End of links on left side of nvbar -->
            <!-- Account related links-->
            <ul class='navbar-nav ms-auto mb-2 mb-md-0'>
                {% if user.is_authenticated %}
                <class='nav-item'>
                    <span class='navbar-text me-2'>Hello, {{user.username}}!
                    <form action="{% url 'accounts:logout' %}" method='post' style='display:inline;'>
                        {% csrf_token %}
                        <button name='submit' class='btn btn-outline-secondary btn-sm'>
                            Log out</button>
                        </form>
                      </li>
                      </span>
                    {% else %}
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'accounts:register'%}">Signup</a></li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'accounts:login' %}">Log in</a></li>
                {% endif %}
            </ul> 
               <!-- End of account related links -->
         </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

{% comment %} {% partialdef messages inline %}<!-- Dj messages-->
<div id="messages_wrap">
{% bootstrap_messages %}
</div>
{% endpartialdef %} {% endcomment %}



<main class='container'>


    {% block local_nav %}
    {% endblock local_nav %}
    <div> 
        {% block content %} {% endblock content %}      
    </div>
    
    
</main>

<!--Fixed footer nav -->
<footer class="bg-primary mt-5">
  <ul class="nav nav-underline px-3 bg-primary fixed-bottom nav-fill">
    <li class="nav-item">
      <a class="nav-link fw-light link-secondary fs-4 {% if request.path == '/' %}active{% endif %}" 
      data-bs-toggle="tooltip" data-bs-title="Home"
      data-bs-custom-class="custom-tooltip"
      href="{% url "session_client:index" %}">
      <i class="bi bi-house-fill"></i>
      <span class="d-none d-md-inline fs-5">
        Home
      </span>
    </a>
  </li>
    <!--Events-->
    <li class="nav-item">
      <a class="nav-link fw-light link-secondary fs-4 {% if request.path == "/tests/" %}active{% endif %}" 
      data-bs-toggle="tooltip" data-bs-title="My Profile"
      data-bs-custom-class="custom-tooltip"
      href="{% url "room_calendar_app:event_list" %}">
      <i class="bi bi-calendar2-event-fill"></i>
      <span class="d-none d-md-inline fs-5">
        Events
        </span>
      </a>
    </li>
    <!--Add Topic -->
    <li class="nav-item">
      <a class="nav-link fw-light link-secondary fs-4 {% if request.path == '/learning/' %}active{% endif %}" 
      data-bs-toggle="tooltip" data-bs-title="My Journal"
      data-bs-custom-class="custom-tooltip"
      href="{% url "room_calendar_app:week_view" %}">
      <i class="bi bi-calendar-date"></i>
      <span class="d-none d-md-inline fs-5">
        Week View
        </span>
  </a>
    </li>
    <!--Theory page -->
    <li class="nav-item">
      <a class="nav-link fw-light link-secondary fs-4" 
      data-bs-toggle="tooltip" data-bs-title="Go To Theory Page"
      data-bs-custom-class="custom-tooltip"
      href="{% url "session_client:client_list" %}"
      >
      <i class="bi bi-journal-medical"></i>
      <span class="d-none d-md-inline fs-5">
        Clients
      </span>
      
    </a>
  </li>
  </ul>


          </div>
        </div>
      </nav>


</footer>
<script><!-- tooltip activation -->
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>

