<!-- Modal -->
{% load i18n %}
<div _="init call bootstrap.Modal.getOrCreateInstance(me).show() end
    on CloseModal call bootstrap.Modal.getOrCreateInstance(me).hide() end"
class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel">

{% partialdef ok-inner-partial inline %}
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-body">
      <div class="modal-header bg-primary text-secondary">
        <h1 class="modal-title display-6" id="modalLabel">{% block modal_title %}{{ title }}{% endblock %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
      </div>
      <div class="modal-body" id="modalBody">
      {% partialdef ok-body-partial inline %}
      <h5>
        {% block modal_body %}{{ text }}{% endblock %}
      </h5>
<div class="text-center mx-auto">

      <i class="bi bi-hand-thumbs-up text-success ms-3 fade-in"
      style="font-size: 15vw;"></i>
</div>

      </div>
          {% endpartialdef ok-body-partial  %}
      <div class="modal-footer">
                  <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">{% translate 'Close' %}</button>
      </div>
    </div>
  </div>
{% endpartialdef ok-inner-partial %}

</div>
