<div class="toast-container position-fixed top-0 end-0">

{% if messages %}

{% for message in messages %}

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toastMessages"
_="init call bootstrap.Toast.getOrCreateInstance(me).show()">

    <div class="toast-header">
      <img src="..." class="rounded me-2 {% if messages.tags %} bg-{{message.tags}}"{% endif %} 
      alt="...">
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong class="me-auto">Important: 
    </strong>{% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>

{% endfor %}
{% endif %}
</div>