{% extends '../../_base.html' %}
{% load partials %}
{% load django_bootstrap5 %}
{% block title%}{{event.title}}{%endblock title%}

{% block content %}
<div class="card bg-secondary-subtle">
    <div class="card-header bg-primary-subtle">
      <h5 class="card-title d-inline">{{event.title|title}}</h5> 
        <small>
          <a href="{%url 'room_calendar_app:edit_event' event.pk %}" class="card-link col">
          Edit</a>
        </small>
        <a href="{% url 'room_calendar_app:calendar_index' %}" class="card-link float-end">Back</a>

    </div>
    <div class="card-body">
      <div class="row">
      <p class="card-text col">Room: {{event.room_calendar}}</p>
      <p class="card-text col">Client: {{event.client}} </P>
      <p class="card-text col">Description: {{event.description}} </p>
      </div>
    </div>
  </div>


<!-- using the proxy form, and then saving the occurrence -->
<div class="" id="form-list-wrap"> 

{% partialdef occurrence-form-list inline %}

<div class"card bg-primary-subtle m-2 p-2 rounded">
  <form class="bg-primary-subtle ps-3">
    <div class="row my-2">
    {% bootstrap_field form.start_date show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
    {% bootstrap_field form.start_time show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
  </div>

  <div class="row">
    {% bootstrap_field form.duration show_label="true"  wrapper_class="col" layout="horizontal" label_class="text-primary" %}
    <button
      type="button"
      class="btn btn-primary col col-6 mx-4"
      hx-post={% url 'room_calendar_app:event' event.pk %}
      hx-target="#form-list-wrap"
    >
    Add Occurrence
    </button>
  </div>

  </form>
</div>


<!-- occurrence list to be swapped -->

<ul class="list-group my-3" id="occurrence-list">
  {% for occurrence in occurrences%}
    <li class="list-group-item bg-primary-subtle text-success">
      <a href="{% url 'room_calendar_app:occurrence' occurrence.pk %}"
      class="link-success"
      >{{occurrence.start_time}} - {{occurrence.end_time|time}}</a>
    </li>
    {% empty %}
    <li>There are no occurrences yet. </li>
    {% endfor %}
  </ul>
  
  
  {% endpartialdef %}

</div>

{%endblock content%}
