{% extends '../../_base.html' %}
{% load partials %}
{% load django_bootstrap5 %}
{% block title%}{{event.title}}{%endblock title%}

{% block content %}
<div class="card bg-secondary-subtle">
    <div class="card-header bg-primary-subtle">
      <h5 class="card-title d-inline">Edit Event: {{event}}</h5> 
    </div>
  </div>


<!-- Add occurrence widget -->
<div class="" id="event-form-wrap"> 

{% partialdef event-form inline %} <!-- Start form partial -->


<div class"card bg-primary-subtle m-2 p-2 rounded">
  <form action={% url 'room_calendar_app:edit_event' event.pk %} method="post" class="bg-primary-subtle ps-3">
    <table class="table">
    <tr>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.title show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.description show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
  </tr>
    <tr>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.event_type show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.room_calendar show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
  </tr>

    <tr>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.client show_label="true"  wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
      <td class="col bg-primary-subtle">
    
        {% bootstrap_button button_type='submit' content='Edit Event' extra_classes='col-12' %}
  </td>
</tr>
</table>
  </form>
</div>
{% endpartialdef %} <!-- end form partial -->
</div>



{%endblock content%}
