{% extends '../../_base.html' %}
{% load partials %}
{% load django_bootstrap5 %}
{% block title%}{{event.title}}{%endblock title%}

{% block content %}
<div class="card bg-secondary-subtle">
    <div class="card-header bg-primary-subtle">
      <h5 class="card-title d-inline">{{event.title|title}}</h5> 
        <small>
          <a href="{%url 'room_calendar_app:edit_event' event.pk %}" class="card-link col">
          Edit</a>
        </small>
        <a href="{% url 'room_calendar_app:calendar_index' %}" class="card-link float-end">Back</a>

    </div>
    <div class="card-body">
      <div class="row">
      <p class="card-text col">Room: {{event.room_calendar}}</p>
      <p class="card-text col">Client: {{event.client}} </P>
      <p class="card-text col">Description: {{event.description}} </p>
      </div>
    </div>
  </div>


<!-- Add occurrence widget -->
<div class="" id="occurrence-form-wrap"> 

{% partialdef occurrence-form inline %} <!-- Start form partial -->

<div class"card bg-primary-subtle m-2 p-2 rounded">
  <form class="bg-primary-subtle ps-3">
    <table class="table">
    <tr>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.start_date show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.start_time show_label="true" wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
  </tr>

    <tr>
      <td class="col bg-primary-subtle">
    {% bootstrap_field form.duration show_label="true"  wrapper_class="col" layout="horizontal" label_class="text-primary" %}
      </td>
      <td class="col bg-primary-subtle">
    <button
      type="button"
      class="btn btn-primary col-12"
      hx-post={% url 'room_calendar_app:event' event.pk %}
      hx-target="#occurrence-form-wrap"
    >
    Add Occurrence
    </button>
  </td>
</tr>
</table>
  </form>
</div>
{% endpartialdef %} <!-- end form partial -->
</div>



<div class="" id="occurrence-list-wrap"> 

{% partialdef occurrence-list inline %} <!-- Start form partial -->
<!-- occurrence list -->
<div class="card bg-primary-subtle">
  <div class="card-header text-primary">Next Occurrences</div>
  <div class="card-body bg-primary-subtle">
    <ul class="list-group list-group-flush" id="occurrence-list">
      {% for occurrence in occurrences%}
      {% partialdef occurrence-li inline %}
      <li class="list-group-item list-group-item-action list-group-item-primary" id="{{occurrence.pk}}">
          <span class="text-primary">{{occurrence.start_time}} - {{occurrence.end_time|time}}</span>
          <i class="bi bi-x-circle-fill text-danger" 
          hx-delete={% url 'room_calendar_app:edit_occurrence_list' occurrence.pk %}
          hx-trigger="click"
          hx-target="closest li"
          hx-swap="outerHTML"
          ></i>
        </li>
        {% endpartialdef %}
        {% empty %}
        <li><There are no occurrences yet.></li>
        {% endfor %}
      </ul>
  </div>
  <div class="card-footer text-muted"><a href={% url 'room_calendar_app:week_view' %}>See in calendar</a></div>
</div>
  
  
  {% endpartialdef %} <!-- end list partial -->

</div>

{%endblock content%}
