{% extends '../../_base.html' %}


{% load django_bootstrap5 %}
{% load partials %}
{% block content %}

<div>
    <h1>Week View</h1>
    {% partialdef form-partial inline %}
      <table
        class="table table-primary table-striped-columns table-sm mb-0"
        id="switch-table"
      >
          <tr class="">
            <form>
            <td>{% bootstrap_field switch_form.date show_label='skip'  %}</td>
            <td>{% bootstrap_field switch_form.calendar show_label='skip'  %}</td>
            <td>
              <button
              class="btn btn-info"
              hx-get={% url "room_calendar_app:week_view" %}
              hx-target="#switch-table"
              hx-swap="outerHTML">
              Search</button>
            </td>
          </form>
          </tr>
        </table>
        {% endpartialdef %}
    

      <!-- Partial def  week calendar -->
      {% partialdef week-view-partial inline  %}
      
      <table class="table table-secondary table-striped-columns table-sm"
      id="week-view-table">
      <thead>
          <tr>
            <th scope="col">#</th>
            {% for day in calendar.week_days %}
      
            <th scope="col"
            style="font-size:.8rem;"            
            >{{day|date:'d-m-y'}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for slot,data in calendar.week_dict.items %}
            <th scope="row" 
            style="font-size:.6rem;"
            >{{slot|time:"H:i"}}</th>
      
              {% for weekday,occurrence in data.items %}
                  <td class="
                  {% if occurrence.start_time %} table-info {% endif %}
                  " 
                  style="font-size:.6rem;"
                  id="{{slot}}"
                  >{{occurrence.event.user}}-
                    {{occurrence.start_time|time:"H:i"}}-
                    {{occurrence.end_time|time:"H:i"}}</td>
                 {% empty %}
                 </td>
              {% endfor %}
                </td>
      
              <tr>
            {% empty %}
              </tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endpartialdef %}
      <!-- End partial def -->

        
    
    
    </div>
    
    {% endblock content %}