{% extends '../../_base.html' %}


{% load django_bootstrap5 %}
{% load partials %}
{% block title %}Week View{% endblock title %}

{% block content %}

<div id="wrapper">

  <div id="form-table-wrapper">
  {% partialdef form-partial inline %}
  <form
    hx-post={% url "room_calendar_app:week_view" %}
    hx-target="#calendar-table-wrapper"
    hx-trigger="change"
    >
    <table
  class="table table-primary table-striped-columns table-sm mb-0"
  id="switch-table"
  >
    <tr class="" id="calendar-form-tr">
        <td id="cell-form-field-date"
          >{% bootstrap_field form.date_reference show_label='skip'  %}
        </td>
        <td id="cell-form-field-calendar"
          >{% bootstrap_field form.calendar show_label='skip'  %}
        </td>
        <td id="cell-form-button">
          <button
          class="btn btn-info"
          type="button"
          hx-post={% url "room_calendar_app:week_view" %}
          hx-target="#calendar-table-wrapper"
          {% comment %} hx-include="[name='date_reference']" {% endcomment %}
          hx-ext="debug"
          id="form-button"
          >
          Search</button>
        </td>
      </tr>
    </table>
  </form>
      {% endpartialdef %} <!-- end partial table -->
      </div>

      <!-- Partial def  week calendar -->
      
  <div id="calendar-table-wrapper">
    {% partialdef calendar-view-partial inline  %}
      <table class="table table-secondary table-striped-columns table-sm"
      id="week-view-table">
      <thead>
          <tr>
            <th scope="col">#</th>
            {% for day in calendar.week_days %}
      
            <th scope="col"
            style="font-size:.8rem;"            
            >{{day|date:'d-m-y'}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for slot,data in calendar.week_dict.items %}
            <th scope="row" 
            style="font-size:.6rem;"
            >{{slot|time:"H:i"}}</th>
      
              {% for weekday,occurrence in data.items %}
              {% if occurrence.start_time %}
                  <td class="table-info" 
                  style="font-size:.6rem;"
                  id="{{slot}}"
                  >{{occurrence.event.user}}-
                    {{occurrence.start_time|time:"H:i"}}-
                    {{occurrence.end_time|time:"H:i"}}</td>
                    {% else %}
                    {% comment %} Empty cells, possible link to create event here {% endcomment %}
                    <td>-
                    </td>
                    {% endif %}
              {% endfor %}
                </td>
      
              <tr>
            {% empty %}
              </tr>
            {% endfor %}
          </tr>
        </tbody>
      </table>      
      {% endpartialdef %}
    </div>
      <!-- End partial def -->

        
    
    
    </div>
    
    {% endblock content %}