{% extends '_base.html' %}
{% load django_bootstrap5 %}

{% block title%}{{calendar.title}}{%endblock title%}

{% block page_header %}{{calendar.name}} <small class="fs-5"><a href="{%url 'room_calendar_app:edit_room_calendar' calendar.pk %}">
  Edit</a></small>{% endblock page_header%}

{% block content %}

    <div class="card p-1 px-3">
      <div class="row">
      <p class="card-text col">Name: {{calendar.name}}</p>
      <p class="card-text col inline">Description: {{calendar.description}}</p>
      </div>
      </div>

  {% comment %} HTMX form to add tenants {% endcomment %}
  {% partialdef form-partial inline %}
  <form class="border bg-light" id="tenant-link-form">
    <table class="table" style="margin-bottom:0px;">
      <tr>
        <td>
          {% bootstrap_field form.tenant_id layout='horizontal' show_label='skip' %}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-md col-12"
            hx-post={% url 'room_calendar_app:room_calendar' calendar.pk %}
            hx-target="#tenant-link-form"
            hx-swap="outerHTML"
            >
            Link Tenant
          </button>
        </td>
      </tr>
    </table>
  </form>
    {% endpartialdef %}



<div class="card mt-2 p-2">
      <h4 class="card-title">Tenants</h4>

      {% comment %} HTMX tenant list partial {% endcomment %}
      {% partialdef tenant-list inline %}
      <div id="tenant-list-wrapper">
      <ul class="list-group">
        {% for tenant in tenants %}
        <li class="list-group-item list-group-item-primary">{{tenant}}</li>
        {% empty %}
        <li class="list-group-item list-group-item-primary">No tenants yet</li>
        
        {% endfor %}
        
      </ul>
    </div>
      {% endpartialdef %}
    </div>
  </div>




{%endblock content%}
