{% extends 'room_calendar_app/navs/calendar-nav.html' %}

{% load django_bootstrap5 i18n%}
{% block title %}{% translate 'Week View Clients' %}{% endblock title %}

{% block content %}

    <div id="page-wrapper">

        <!-- Partial def  week calendar -->

        <div id="calendar-table-wrapper">
            {% partialdef calendar-table-partial inline %}
                <table class="table table-info table-striped-columns table-sm"
                       id="week-view-table">


                        <!-- navigation caption -->
                    {% include 'room_calendar_app/navs/cal-caption.html' with inner_url="room_calendar_app:week_schedule_view" %}

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for n,day in calendar.week_days %}

                            <th scope="col"
                                style="font-size:.8rem;"
                            >{{ day }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>

                    {% for slot,data in calendar.client_dict.items %}
                        <tr> <!-- row for time -->
                        <th scope="row"
                            style="font-size:.6rem;"
                        >{{ slot|time:"H:i" }}</th>

                        {% for weekday,occurrence in data.items %}
                            {% if occurrence.pk %}
                                <td class="table-danger"
                                    hx-get="{% url 'session_client:client_hx_item' occurrence.pk %}"
                                    hx-target="#modal-wrapper"
                                    style="font-size:.6rem;"
                                    id="{{ slot }}"
                                >{{ occurrence.code }}-
                                    {{ occurrence.time }}</td>
                            {% else %}
                                <td
                                        style="font-size:.6rem;">
                                    <i
                                            {% if calendar.room_calendar %}
                                                hx-get="{% url 'session_client:week_view_add_client_with_calendar' weekday slot|time:"H:i" calendar.room_calendar.pk %}"
                                            {% else %}
                                                hx-get="{% url 'session_client:week_view_add_client' weekday slot|time:"H:i" %}"
                                            {% endif %}
                                                hx-target="#modal-wrapper" class="bi bi-patch-plus"></i></a>
                                </td>
                            {% endif %}
                        {% endfor %}<!-- end of for weekday -->
                    {% endfor %}<!-- end of for slot -->
                    </tr>
                    </tbody>
                </table>
            {% endpartialdef %}
        </div>
        <!-- End partial def -->

        <div id="modal-wrapper"></div>


    </div>
{% endblock content %}