{% extends 'room_calendar_app/navs/calendar-nav.html' %}

{% load django_bootstrap5 i18n %}


{% block title %}{% translate 'Week View' %}{% endblock title %}

{% block content %}

    <div id="page-wrapper">
        <!-- Partial def  week calendar -->

        <div id="calendar-table-wrapper">
            {% partialdef calendar-view-partial inline %}
                <table class="table table-secondary table-striped-columns table-sm mb-0 pb-0"
                       id="week-view-table">

                <caption class="text-light">
                    <div class="row">
                        <div class="col">
                            <form class="d-inline">
                                <input class="visually-hidden" name="calendar" value="{{ calendar.room_calendar.pk }}">
                                <input class="visually-hidden" name="date_reference" value="{{ calendar.prev_ref|date:"Y-m-d" }}">

                            <button class="btn d-inline" type="submit">
                            <i class="bi bi-caret-left-fill"
                                hx-post="{% url "room_calendar_app:week_view" %}"
                                hx-target="#calendar-table-wrapper"
                            ></i>
                            </button>
                            </form>
                        </div>


                        <div class="col">
                            <form class="d-inline p-0 mx-0"
                                hx-post="{% url "room_calendar_app:week_view" %}"
                                hx-target="#calendar-table-wrapper"
                                  hx-trigger="change"
                            >
                                    <label class="btn d-inline"
                                            for="{{ form.calendar.id_for_label }}"
                                           _="on click
                                           tell #{{ form.calendar.id_for_label }}
                                           call you.showPicker()
                                           end"
                                    >{{ calendar.room_calendar|default:"All Rooms" }}
                                        <i class="bi bi-house-down"></i>
                                    </label>
                                    <div class="visually-hidden">
                                        {{ form.calendar }}
                                    </div>

                                    <div class="visually-hidden">
                                        {{ form.date_reference }}
                                    </div>
                            </form>

                        </div>

                        <div class="col" style="font-size: .8rem;">
                            <span class="d-inline">
                                       {{ calendar.week_start|date:"d/m/y" }}-
                                        {{ calendar.week_end|date:"d/m/y"  }}
                            </span>
                                    <label class="btn d-inline"
                                            for="{{ form.date_reference.id_for_label }}"
                                           _="on click
                                           tell #{{form.date_reference.id_for_label}}
                                           call you.showPicker()
                                           end">
                                        <i class="bi bi-calendar2-date"></i>
                                    </label>


                        </div>

                        <div class="col">
                            <form class="d-inline">
                                <input class="visually-hidden" name="calendar" value="{{ calendar.room_calendar.pk }}">
                                <input class="visually-hidden" name="date_reference" value="{{ calendar.next_ref|date:"Y-m-d" }}">

                            <button class="btn d-inline" type="submit">
                            <i class="bi bi-caret-right-fill"
                               hx-post="{% url "room_calendar_app:week_view" %}"
                               hx-target="#calendar-table-wrapper"
                            ></i>
                            </button>
                            </form>

                        </div>

                    </div>

                </caption>

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for day in calendar.week_days %}

                            <th scope="col"
                                style="font-size:.8rem;"
                            >{{ day|date:'d-m-y' }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="mb-0 pb-0">

                    {% for slot,data in calendar.week_dict.items %}
                        <tr> <!-- row for time -->
                        <th scope="row"
                            style="font-size:.6rem;"
                        >{{ slot|time:"H:i" }}</th>

                        {% for weekday,occurrence in data.items %}
                            {% if occurrence.in_display %}
                                <td class="table-info {% if occurrence.end_datetime_adjusted.time == slot %}border-warning-subtle border-bottom
                                    {% endif %}"
                                    hx-get="{% url 'session_client:session_hx_item' occurrence.pk %}"
                                    hx-target="#modal-wrapper"
                                    style="font-size:.6rem;"
                                    id="{{ slot }}"
                                >{% if occurrence.start_time == slot %}
                                {{ occurrence.display }}
                                    {% else %}
                                    ***
                                    {% endif %}
                                    </td>
                            {% else %}
                                <td
                                        style="font-size:.6rem;">
                                    <i
                                            {% if calendar.room_calendar %}
                                                hx-get="{% url 'session_client:week_view_add_session_client' calendar.year_ref calendar.week_ref weekday slot|time:"H:i" calendar.room_calendar.pk %}"
                                            {% else %}
                                                hx-get="{% url 'session_client:week_view_add_session_client' calendar.year_ref calendar.week_ref weekday slot|time:"H:i" %}"
                                            {% endif %}
                                                hx-target="#modal-wrapper" class="bi bi-patch-plus"></i></a>
                                </td>
                            {% endif %}
                        {% endfor %}<!-- end of for weekday -->
                    {% endfor %}<!-- end of for slot -->
                    </tr>
                    </tbody>
                </table>
            {% endpartialdef %}
        </div>
        <!-- End partial def -->

        <div id="modal-wrapper"></div>

    </div>
{% endblock content %}