{% extends 'room_calendar_app/navs/calendar-nav.html' %}
{% load i18n %}


{% load django_bootstrap5 %}
{% block title %}{% translate 'Week View Clients' %}{% endblock title %}

{% block content %}

    <div id="page-wrapper">


        <div id="form-table-wrapper">
            {% partialdef form-partial inline %}
                <form id="room-switch-form"
                        hx-post="{% url "room_calendar_app:week_schedule_view" %}"
                        hx-target="#calendar-table-wrapper"
                        hx-trigger="change throttle:1s,RefreshTable"
                >
                    <table
                            class="table table-primary table-striped-columns table-sm mb-0"
                            id="switch-table"
                    >
                        <td class="" id="calendar-form-tr">
                            <td id="cell-form-field-calendar"
                            >{% bootstrap_field form.room show_label='skip' %}
                            </td>
                        </td>
                    <td></td>
                    </table>
                </form>
            {% endpartialdef %} <!-- end partial table -->
        </div>

        <!-- Partial def  week calendar -->

        <div id="calendar-table-wrapper">
            {% partialdef calendar-table-partial inline %}
                <table class="table table-info table-striped-columns table-sm"
                       id="week-view-table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for n,day in calendar.week_days %}

                            <th scope="col"
                                style="font-size:.8rem;"
                            >{{ day }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>

                    {% for slot,data in calendar.client_dict.items %}
                        <tr> <!-- row for time -->
                        <th scope="row"
                            style="font-size:.6rem;"
                        >{{ slot|time:"H:i" }}</th>

                        {% for weekday,occurrence in data.items %}
                            {% if occurrence.pk %}
                                <td class="table-danger"
                                    hx-get="{% url 'session_client:client_hx_item' occurrence.pk %}"
                                    hx-target="#modal-wrapper"
                                    style="font-size:.6rem;"
                                    id="{{ slot }}"
                                >{{ occurrence.code }}-
                                    {{ occurrence.time }}</td>
                            {% else %}
                                <td
                                        style="font-size:.6rem;">
                                    <i
                                            {% if calendar.room_calendar %}
                                                hx-get="{% url 'session_client:week_view_add_client_with_calendar' weekday slot|time:"H:i" calendar.room_calendar.pk %}"
                                            {% else %}
                                                hx-get="{% url 'session_client:week_view_add_client' weekday slot|time:"H:i" %}"
                                            {% endif %}
                                                hx-target="#modal-wrapper" class="bi bi-patch-plus"></i></a>
                                </td>
                            {% endif %}
                        {% endfor %}<!-- end of for weekday -->
                    {% endfor %}<!-- end of for slot -->
                    </tr>
                    </tbody>
                </table>
            {% endpartialdef %}
        </div>
        <!-- End partial def -->

        <div id="modal-wrapper"></div>


    </div>
{% endblock content %}