<div id="calendar-table-wrapper">

                <table class="table table-secondary table-striped-columns table-sm mb-0 pb-0" id="week-view-table">

                <!-- navigation caption -->

<caption class="text-light">
    <div class="row">
        <div class="col">

            <div class="d-inline">
                <input class="visually-hidden" name="calendar" value="">
                <input class="visually-hidden" name="date_reference" value="2026-01-15">

            <button class="btn d-inline" type="submit">
            <i class="bi bi-caret-left-fill"></i>
            </button>
            </div>


        </div>


        <div class="col">
            <div class="d-inline p-0 mx-0" hx-trigger="change">
                    <label class="btn d-inline" for="id_calendar" _="on click
                           tell #id_calendar
                           call you.showPicker()
                           end">
                        All Rooms
                        <i class="bi bi-house-down"></i>
                    </label>
                    <div class="visually-hidden">
                        <select name="calendar" class="div-control" id="id_calendar">
  <option value="" selected="">---------</option>

  <option value="">Base Room</option>

  <option value="">Second</option>

</select>
                    </div>


            </div>

        </div>

        <div class="col" style="font-size: .8rem;">

            <div class="d-inline p-0 mx-0" hx-trigger="change">
                <label class="btn d-inline" for="id_date_reference"
                    <span class="d-inline">
                               19/01/26-
                                25/01/26
                    </span>
                    <i class="bi bi-calendar2-date"></i>
                </label>
                <div class="visually-hidden">
                    <input type="date" name="date_reference" value="2026-01-21" required="" aria-describedby="id_date_reference_helptext" id="id_date_reference">
                </div>
                <input class="visually-hidden" name="calendar" value="">
            </div>

        </div>

        <div class="col">

            <div class="d-inline">
            <button class="btn d-inline" type="submit">
            <i class="bi bi-caret-right-fill"></i>
            </button>
            </div>

        </div>

    </div>

</caption>


                    <thead>
                    <tr>
                        <th scope="col">#</th>


                            <th scope="col" style="font-size:.8rem;">19-01-26</th>


                            <th scope="col" style="font-size:.8rem;">20-01-26</th>


                            <th scope="col" style="font-size:.8rem;">21-01-26</th>


                            <th scope="col" style="font-size:.8rem;">22-01-26</th>


                            <th scope="col" style="font-size:.8rem;">23-01-26</th>


                            <th scope="col" style="font-size:.8rem;">24-01-26</th>


                            <th scope="col" style="font-size:.8rem;">25-01-26</th>

                    </tr>
                    </thead>
                    <tbody class="mb-0 pb-0">


                        <tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">08:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info " style="font-size:.6rem;" id="8 a.m.">
                                Test123-08:00-09:00

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">08:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info border-warning-subtle border-bottom
                                    " style="font-size:.6rem;" id="8:30 a.m.">
                                    ***

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">09:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">09:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">10:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info " style="font-size:.6rem;" id="10 a.m.">
                                asdf-10:00-12:00

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">10:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info " style="font-size:.6rem;" id="10:30 a.m.">
                                    ***

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">11:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info " style="font-size:.6rem;" id="11 a.m.">
                                    ***

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">11:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td class="table-info border-warning-subtle border-bottom
                                    " style="font-size:.6rem;" id="11:30 a.m.">
                                    ***

                                    </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">12:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">12:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">13:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">13:30</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
                        <th scope="row" style="font-size:.6rem;">14:00</th>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>



                                <td style="font-size:.6rem;">
                                    <i class="bi bi-patch-plus"></i>
                                </td>

                        <!-- end of for weekday -->

                        </tr><tr> <!-- row for time -->
      </tbody>
                </table>

        </div>