{% load i18n %}
<!-- Client card display -->
        <div class="card col fade-out fade-in
                                    container text-center
                                    border border-secondary
                                    p-2h"
                                 id=""
        >
                                <div class="card-header d-flex justify-content-between align-items-center bg-primary">
                                    <div id="spinner" class="htmx-indicator spinner-border text-success d-inline" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                        </div>

                                    <a id="code" class="col link-secondary link-client-code"
                                       data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Client code' %}"
                                             data-bs-custom-class="custom-tooltip"

                                    >TEST1234
                                    </a>

                                    <!-- list month forward -->
                                    <span id="created" class="text-secondary small me-1"
                                            data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Time from creation' %}"
                                             data-bs-custom-class="custom-tooltip"
                                          style="font-size:0.7rem">4 weeks ago</span>


                                    <!-- count of open before today -->
                                    <a id="open" class="btn btn-info btn-sm text-bg-info"
                                             data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Open Sessions' %}"
                                             data-bs-custom-class="custom-tooltip"
                                    >3</a>
                                </div>

                                <div class="row"><!--first client card row -->

                                    <div class="col"> <!-- day, time and room -->
                                        <p class="lh-1">
                                            <span id="time"
                                                data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Date default' %}"
                                             data-bs-custom-class="custom-tooltip"
                                                class="small">Mon-4pm</span>
                                            <br/>
                                            <span id="tenant"
                                             data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate "Client' tenant profile" %}"
                                             data-bs-custom-class="custom-tooltip"
                                                   class="small">tenant-prof</span></p>
                                    </div>
                                    <div class="col"> <!-- month back paid and expected pay -->
                                        <span id="paid"
                                             data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'sessions paid' %}"
                                             data-bs-custom-class="custom-tooltip"

                                                class="fs-5">120</span>
                                        /<span id="expected"
                                             data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'payment expected' %}"
                                             data-bs-custom-class="custom-tooltip"
                                                class="small">350</span>
                                    </div>
                                    <div class="col-auto">
                                        <span id="attendance"
                                             data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Attendance percentage' %}"
                                             data-bs-custom-class="custom-tooltip"
                                                class="fs-5">60%</span>
                                    </div>
                                </div>

                                <div class="row"><!--second client card row -->
                                    <div class="col-4"
                                         id="future-sessions">
                                    <a id="future" class="btn btn-outline-secondary btn-sm success-shine"
                                            data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'Future sessions' %}"
                                             data-bs-custom-class="custom-tooltip"
                                    >
                                            <i class="bi bi-fast-forward-fill"></i>
                                            <span class=""
                                            > 12</span>
                                    </a>

                                    </div>
                                    <div class="col-4"> <!-- add 3 sessions forward -->
                                        <a id="book3"
                                            class="btn btn-outline-secondary btn-sm"
                                            data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'book 3 forward' %}"
                                             data-bs-custom-class="custom-tooltip"
                                        >
                                        +3
                                        </a>
                                    </div>
                                    <div class="col-4"> <!-- add 6 sessions forward -->
                                        <a id="book6"
                                            class="btn btn-outline-secondary btn-sm"
                                            data-bs-toggle="tooltip"
                                             data-bs-trigger="hover"
                                             data-bs-title="{% translate 'book 6 forward' %}"
                                             data-bs-custom-class="custom-tooltip"
                                        >
                                        +6
                                        </a>
                                    </div>
                                </div>
                            </div>
