        <div class="col">
            <div class="card" style="min-height: 12rem">
                <div class="card-header">
                    Client card explained
                </div>

                <!-- client sub cards group -->
                <div class="card-body slide-group" order="1">

                    Here you're going to see the different properties of the (Client) card press arrow to follow

                </div>
                <div class="card-body slide-group" order="2"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#code').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#code').hide()">
                     (Client) code you can create a code to identify your client avoiding personal information

                </div>
                <div class="card-body slide-group" order="3"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#created').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#created').hide()
                            end">
                    Time with a client, accounts from the creation of the client.

                </div>
                <div class="card-body slide-group" order="4"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#open').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#open').hide()
                            end">
                    Sessions that are currently open past current date

                </div>
                <div class="card-body slide-group" order="5"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#time').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#time').hide()
                            end">
                    The usual time a client uses in the week

                </div>
                <div class="card-body slide-group" order="6"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#tenant').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#tenant').hide()
                            end">
                    Their profile of tenancy that this client is using as default

                </div>
                <div class="card-body slide-group" order="7"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#paid').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#paid').hide()
                            end">
                    The amount of money a client has paid in the last month

                </div>
                <div class="card-body slide-group" order="8"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#expected').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#expected').hide()
                            end">
                    The expected money a claim would have paid in this mont

                </div>
                <div class="card-body slide-group" order="9"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#attendance').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#attendance').hide()
                            end">
                    What percentage of attendance in the last three months

                </div>
                <div class="card-body slide-group" order="10"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#future').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#future').hide()
                            end">
                    How many sessions has been booked in the future and can be pressed to see them

                </div>
                <div class="card-body slide-group" order="11"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#book3').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#book3').hide()
                            end">
                    Book three sessions towards the future, using the defaults

                </div>
                <div class="card-body slide-group" order="12"
                    _="on intersection(intersecting)
                            if intersecting
                                call bootstrap.Tooltip.getOrCreateInstance('#book6').show()
                            else
                                call bootstrap.Tooltip.getOrCreateInstance('#book6').hide()
                            end">
                    Book six sessions towards the future, using the defaults

                </div>


                <!-- end client sub cards -->
                <span class="card-footer" current=1 id="card-nav"
                _="init hide <.slide-group/>
                    then show <.slide-group[order='1']/>">

                <i class="bi bi-caret-left float-start"
                    _="on click if #card-nav's @current > 1
                         decrement @current of #card-nav
                         then hide <.slide-group/>
                         then show <.slide-group/> when it's @order == #card-nav's @current
                       end"
                ></i>
                <i class="bi bi-caret-right-fill float-end"
                       _="on click
                       if #card-nav's @current < 12
                         increment @current of #card-nav
                         then hide <.slide-group/>
                         then show <.slide-group/> when it's @order == #card-nav's @current
                       else set #card-nav's @current to 0
                       end"
                ></i>
                </span>
            </div>
        </div>
