{% load i18n %}
<div class="col">
    <div class="card" style="min-height: 12rem">
        <div class="card-header">
            Client card explained
        </div>

        <!-- client sub cards group -->
        <div class="card-body slide-group" order="1">
            {% blocktranslate %}
            Here you're going to see the different properties of the (Client) card press arrow to follow
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="2"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#code').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#code').hide()">
            {% blocktranslate %}
             Client code you can create a code to identify your client avoiding personal information
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="3"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#created').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#created').hide()
                    end">
            {% blocktranslate %}
            Time with a client, accounts from the creation of the client.
{% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="4"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#open').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#open').hide()
                    end">
            {% blocktranslate %}
            Sessions that are currently open past current date
{% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="5"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#total-sessions').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#total-sessions').hide()
                    end">
            {% blocktranslate %}
            Total amount of sessions of a client
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="6"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#client-type').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#client-type').hide()
                    end">
            {% blocktranslate %}
            The type of client, in this scase private
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="7"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#created-at').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#created-at').hide()
                    end">
            {% blocktranslate %}
            Month and year of the creations of a client
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="8"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#paid').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#paid').hide()
                    end">
            {% blocktranslate %}
            The amount of money a client has paid in the last month
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="9"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#expected').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#expected').hide()
                    end">
            {% blocktranslate %}
            The expected money a claim would have paid in this mont
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="10"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#attendance').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#attendance').hide()
                    end">
            {% blocktranslate %}
            What percentage of attendance in the last three months
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="11"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#future').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#future').hide()
                    end">
            {% blocktranslate %}
            How many sessions has been booked in the future and can be pressed to see them
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="12"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#book3').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#book3').hide()
                    end">
            {% blocktranslate %}
            Book three sessions towards the future, using the defaults
            {% endblocktranslate %}
        </div>
        <div class="card-body slide-group" order="13"
            _="on intersection(intersecting)
                    if intersecting
                        call bootstrap.Tooltip.getOrCreateInstance('#manage-times').show()
                    else
                        call bootstrap.Tooltip.getOrCreateInstance('#manage-times').hide()
                    end">
            {% blocktranslate %}
            Open to manage the times a client is using in a week
            {% endblocktranslate %}
        </div>


        <!-- end client sub cards -->
        <span class="card-footer" current=1 id="card-nav"
        _="init hide <.slide-group/>
            then show <.slide-group[order='1']/>">

        <i class="bi bi-caret-left float-start"
            _="on click if #card-nav's @current > 1
                 decrement @current of #card-nav
                 then hide <.slide-group/>
                 then show <.slide-group/> when it's @order == #card-nav's @current
               end"
        ></i>
        <i class="bi bi-caret-right-fill float-end"
               _="on click
               if #card-nav's @current < 13
                 increment @current of #card-nav
                 then hide <.slide-group/>
                 then show <.slide-group/> when it's @order == #card-nav's @current
               else set #card-nav's @current to 0
               end"
        ></i>
        </span>
    </div>
</div>
