{% extends '_base.html' %}
{% load static i18n %}
{% block background %}bg-secondary{% endblock %}


{% block hero_block %}
    <div class="position-relative flex-container mb-5 bg-secondary" style="height:40vh;">
        <span class="text-light col col-lg-8 position-relative" style="font-size:30cqw;font-family:'Love Light',cursive;"
        >Dreamy
        </span>
        <span class="fs-2 text-primary position-absolute start-50 bottom-0"
        >{% translate 'Admin for therapists' %}</span>
        <span id="dreamy-wrapper" class="bg-secondary float-end">
            <img src="{% static 'images/dreamy.svg' %}" style="width: 8rem;height: 8rem;">
            </span>
    </div>

<div class="py-4 mb-5 position-relative bg-primary text-secondary" style="height: 38vh;width: 100vw;">

<div class="row">

    <div class="col ps-1 ps-md-5">
    <ul class="">
        <li class="nav-link">
        <a href="{% url 'session_client:client_list' %}"
           class="link-secondary
           link-underline link-underline-opacity-0 display-2">{% translate 'Clients' %}</a>
        </li>
        <li class="nav-link">
        <a href="{% url 'session_client:session_list' %}"
           class="link-secondary
           link-underline link-underline-opacity-0 display-2">{% translate 'Sessions' %}</a>
        </li>
        <li class="nav-link">
        <a href="{% url 'room_calendar_app:room_calendar_list' %}"
           class="link-secondary
           link-underline link-underline-opacity-0 display-2">{% translate 'Rooms' %}</a>
        </li>
    </ul> <!-- Links -->
    </div>

    <div class="col text-secondary">
        <div class="position-absolute top-50 end-0 m-4">

        <p class="fs-5">{% translate 'Therapists handle a lot of complexity' %}</p>
        <p class="fs-5">{% translate "Let's make it a bit easier to handle their admin" %}</p>
        </div>
    </div> <!-- entry text -->
</div>
</div>

{% endblock %}

{% block content %}
    <h1 class="text-primary">Features</h1>

    <!-- Client card display -->
    <section class="container mb-5 p-2 d-block">
    <h2 class="text-primary">Client Card</h2>
    <div class="row">

        {% include 'base/client-card.html' %}

    <!-- Card explained -->
        {% include 'base/client-card-intro.html' %}
    </div>
    </section>

    <!-- Sessions Management -->
    <section class="mb-5 bg-primary">
        <h2 class="text-secondary">Session list</h2>

{% include 'base/session-intro.html' %}

    </section>



{% endblock content %}

{% block extra_js %}
    <!-- GSap -->
{% if splash %}
    <script type="module" src="{% static 'js/splash.js' %}"></script>
{% endif %}
{% endblock %}
