{% extends 'room_calendar_app/navs/calendar-nav.html' %}


{% load django_bootstrap5 i18n %}

{% block title %}{% translate 'Blocks View' %}{% endblock title %}

{% block content %}

    <div id="page-wrapper">


        <!-- Partial def  week calendar -->
        <div id="calendar-table-wrapper">
            {% partialdef calendar-table-partial inline %}
                <table class="table table-danger table-striped-columns table-sm"
                       id="week-view-table">
                                <!-- navigation caption -->
                    {% include 'room_calendar_app/navs/cal-caption.html' with inner_url="room_calendar_app:week_blocks_view" %}

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        {% for n,day in calendar.week_days %}

                            <th scope="col"
                                style="font-size:.8rem;"
                            >{{ day }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot,data in calendar.block_dict.items %}
                        <tr> <!-- row for time -->
                        <th scope="row"
                            style="font-size:.6rem;"
                        >{{ slot|time:"H:i" }}</th>

                        {% for weekday,occurrence in data.items %}
                            {% if occurrence.pk %}
                                <td class=""
                                    {% if user == calendar.room_calendar.user %}
                                    hx-get="{% url 'room_calendar_app:block_edit' occurrence.pk %}"
                                    hx-target="#modal-wrapper"
                                    {% endif %}
                                    style="font-size:.6rem;max-width:5rem;"
                                    id="{{ slot }}"
                                >{% if user == occurrence.tenant.user %}
                                    {{ occurrence.tenant }}
                                    {% else %}
                                    {{ occurrence.tenant.display_name }}
                                    {% endif %}
                                    -
                                    {{ occurrence.start_time }}-
                                    {{ occurrence.end_time }}</td>
                            {% else %}
                                <td
                                        style="font-size:.6rem;">
                                    <i
                                            {% if user == calendar.room_calendar.user%}
                                                hx-get="{% url 'room_calendar_app:block_add_with_room_day_time' weekday slot|time:"H:i" calendar.room_calendar.pk %}"
                                                hx-target="#modal-wrapper" class="bi bi-patch-plus"></i></a>
                                                {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}<!-- end of for weekday -->
                    {% endfor %}<!-- end of for slot -->
                    </tr>
                    </tbody>
                </table>
            {% endpartialdef %}
        </div>
        <!-- End partial def -->
        <div id="modal-wrapper"></div>


    </div>
{% endblock content %}